<!--
including header content which is common for all pages
-->
<%- include ../layouts/header.ejs %>    
 
<% if (messages.error) { %>
    <p style="color:red"><%- messages.error %></p>
<% } %>
 
<% if (messages.success) { %>
    <p style="color:green"><%- messages.success %></p>
<% } %>
 

<!-- ESTILO PARA DATEPICKER -->
<style>
[type="date"] {
  background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;
}
[type="date"]::-webkit-inner-spin-button {
  display: none;
}
[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}
/* custom styles */
body {
  background: #e5e5e5;
  font: 13px/1.4 Geneva, 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}
label {
  display: block;
}
input {
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  background-color: #fff;
  padding: 3px 5px;
  box-shadow: inset 0 3px 6px rgba(0,0,0,0.1);
  width: 190px;
}
</style>



<script type="text/javascript"> 

function changeText() {
    //LOGICA CARGA GASTOS
    var cond = document.getElementById("fact_condicion").value;
    //alert(cond);
    if(cond == "BOLETA_PAGO" || cond == "COMP_INGRESO" || cond == "RECIBO" || cond == "S_F" || cond == "RECIBO_COMUN")
    {   //HABLITAR- DESHABILITAR
        document.getElementById("monto").disabled = true; 
        document.getElementById("exentas").disabled = true; 
        document.getElementById("iva_10").disabled = true; 
        document.getElementById("iva_5").disabled = true;
        document.getElementById("gasto_real").disabled = false; //solo gasto real habilitado
        //ASIGNAR VALORES
        document.getElementById("monto").value = 0; 
        document.getElementById("exentas").value = 0; 
        document.getElementById("iva_10").value = 0; 
        document.getElementById("iva_5").value = 0;
        document.getElementById("gasto_real").value = 0; 
    }
    if(cond == "CREDITO")//SOLO 
    {   //HABLITAR- DESHABILITAR
        document.getElementById("monto").disabled = false; 
        document.getElementById("exentas").disabled = true; 
        document.getElementById("iva_10").disabled = true; 
        document.getElementById("iva_5").disabled = true;
        document.getElementById("gasto_real").disabled = true;  
        //ASIGNAR VALORES
        //document.getElementById("monto").value = ''; 
        document.getElementById("exentas").value = 0; 
        document.getElementById("iva_10").value = Math.round((document.getElementById('monto').value /11)*100) /100; 
        document.getElementById("iva_5").value = 0;
        document.getElementById("gasto_real").value = 0; 
    }
    if(cond == "CONTADO")
    {   //HABLITAR- DESHABILITAR
        document.getElementById("monto").disabled = false; 
        document.getElementById("exentas").disabled = false; 
        document.getElementById("iva_10").disabled = false; 
        document.getElementById("iva_5").disabled = false;
        document.getElementById("gasto_real").disabled = false;  
        //ASIGNAR VALORES
        //document.getElementById("monto").value = ''; 
       // document.getElementById("exentas").value = ''; 
        document.getElementById("iva_10").value = Math.round((document.getElementById('monto').value /11)*100) /100; //iva 10% incluido
        document.getElementById("iva_5").value = Math.round((document.getElementById('monto').value *5/105)*100) /100; //iva 5% incluido
        document.getElementById("gasto_real").value = (parseInt(document.getElementById('monto').value) + parseInt(document.getElementById('exentas').value));
    }

    //document.getElementById('gasto_real').value = parseInt(document.getElementById('monto').value) + parseInt(document.getElementById('exentas').value);

    //document.getElementById('gasto').value = Math.round((document.getElementById('monto').value /11)*100) /100;
    //document.getElementById('iva_5').value = Math.round((document.getElementById('monto').value *5/100)*100) /100;  
}
</script>


<script>
$(document).ready(function(){
    $("input").click(function(){
        $(this).next().show();
        $(this).next().hide();
    });
});
</script>


<!-- NAV PARA TITULO -->
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background:#000000;">
    <div class="container-fluid">
        <h3>Carga de GASTOS</h3>
    </div>
</nav>

<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background:#000000;">
    <div class="container-fluid">
        <form action="/gastos/add" method="post" name="form1">
            <div class="form-row">
                <div class="form-group col-md-6">
                        <label for="fact_condicion">CONDICION FACTURA</label>
                        <select class="form-control" name="fact_condicion" id="fact_condicion" value="<%= fact_condicion %>" placeholder="condicion Factura" onclick="changeText()">
                            <option value="CONTADO">CONTADO</option>
                            <option value="CREDITO">CREDITO</option>
                            <option value="COMP_INGRESO">COMPROBANTE DE INGRESO</option>
                            <option value="RECIBO">RECIBO</option>
                            <option value="RECIBO_COMUN">RECIBO COMUN</option>
                            <option value="BOLETA_PAGO">BOLETA DE PAGO</option>
                            <option value="S_F">S/F</option>
                        </select>
                    </div>
                <div class="form-group col-md-6">
                    <label for="fecha">FECHA</label>
                    <input type="date" class="form-control" name="fecha" id="fecha" value="<%= fecha %>" placeholder="Fecha del Gasto" >
                </div>
                <div class="form-group col-md-6">
                    <label for="monto">MONTO</label>
                    <input type="text" class="form-control" name="monto" id="monto" value="<%= monto %>" placeholder="Monto" onclick="changeText()">
                </div>
                <div class="form-group col-md-6">
                    <label for="exentas">EXENTAS</label>
                    <input type="text" class="form-control" name="exentas" id="exentas" value="<%= exentas %>" placeholder="Exentas" onclick="changeText()">
                </div>
                <div class="form-group col-md-6">
                    <label for="iva_10">IVA 10%</label>
                    <input type="text" class="form-control" name="iva_10" id="iva_10" value="<%= iva_10 %>" placeholder="IVA 10%" onclick="changeText()">
                </div>
                <div class="form-group col-md-6">
                    <label for="iva_5">IVA 5%</label>
                    <input type="text" class="form-control" name="iva_5" id="iva_5" value="<%= iva_5 %>" placeholder="IVA 5%" onclick="changeText()">
                </div>
                <div class="form-group col-md-6">
                    <label for="gasto_real">GASTO REAL</label>
                    <input type="text" class="form-control" name="gasto_real" id="gasto_real" value="<%= gasto_real %>" placeholder="GASTO REAL">
                </div>
                <div class="form-group col-md-6">
                    <label for="concepto">CONCEPTO</label>
                    <input type="text" class="form-control" name="concepto" id="concepto" value="<%= concepto %>" placeholder="CONCEPTO">
                </div>
                <div class="form-group col-md-6">
                    <label for="proveedor">PROVEEDOR</label>
                    <input type="text" class="form-control" name="proveedor" id="proveedor" value="<%= proveedor %>" placeholder="PROVEEDOR">
                </div>
                <div class="form-group col-md-6">
                    <label for="fact_nro">FACTURA NRO</label>
                    <input type="text" class="form-control" name="fact_nro" id="fact_nro" value="<%= fact_nro %>" placeholder="NRO FACTURA">
                </div>
                <div class="form-group col-md-6">
                    <label for="encargado">ENCARGADO</label>
                    <input type="text" class="form-control" name="encargado" id="encargado" value="<%= encargado %>" placeholder="ENCARGADO GASTO">
                    <!--<select class="form-control" name="encargado" id="encargado" value="<%= encargado %>" placeholder="ENCARGADO GASTO">
                        <option value="CARLOS MALDONADO">CARLOS MALDONADO</option>
                        <option value="CARLOS O">CARLOS O</option>
                        <option value="CRISTINA I">CRISTINA I</option>
                        <option value="JOSE OSORIO">JOSE OSORIO</option>
                        <option value="JOSE LOPEZ">JOSE LOPEZ</option>
                        <option value="JUAN ARIAS">JUAN ARIAS</option>
                        <option value="JUAN ROMERO">JUAN ROMERO</option>
                        <option value="KAREN">KAREN</option>
                        <option value="MARIO JARA">MARIO JARA</option>
                        <option value="OSCAR GONZALEZ">OSCAR GONZALEZ</option>
                        <option value="RODRIGO BOBADILLA">RODRIGO BOBADILLA</option>
                        <option value="SR ROMERO">SR ROMERO</option>
                    </select>-->
                </div>
                <div class="form-group col-md-6">
                    <label for="codigo">CODIGO</label>
                    <!--<input type="text" class="form-control" name="codigo" id="codigo" value="<%= codigo %>" placeholder="CODIGO">-->
                        <select class="form-control" name="codigo" id="codigo" value="<%= codigo %>" placeholder="CODIGO">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                    </select>
                </div>
                <!--<div class="form-group col-md-6">
                    <label for="nro_ot">NRO OT</label>
                    <select class="form-control" name="nro_ot" id="nro_ot" placeholder="Nro OT">
                    <% if (data) { %>
                        <% data.forEach(function(fila_ot){ %>
                            <option value="<%= fila_ot %>"><%= fila_ot %></option>
                        <% }) %>
                    <% } %>
                    </select>
                </div>-->
                <div class="form-group col-md-6">
                    <label for="nro_ot">NRO OT</label>
                    <input type="text" class="form-control" list="lista_ot" id="nro_ot" name="nro_ot">
                    <datalist id="lista_ot">
                        <% if (data) { %>
                            <% data.forEach(function(fila_ot){ %>
                                <option value="<%= fila_ot %>"><%= fila_ot %></option>
                            <% }) %>
                        <% } %>
                    </datalist> 
                </div>
            </div>
            <button type="submit" name="Submit" value="Insertar" class="btn btn-primary">INSERTAR</button>
        </form>
    </div>
</nav>

<!-- BOTONES DE EXPORTACION -->
<nav class="navbar navbar-expand-lg navbar-light bg-strong">
    <div class="container-fluid">

    </div>
</nav>
<!--
including footer content which is common for all pages
-->
<%- include ../layouts/footer.ejs %>