<!--   -->
<%- include ../layouts/header.ejs %>   
 
<% if (messages.error) { %>
    <p style="color:red"><%- messages.error %></p>
<% } %>
 
<% if (messages.success) { %>
    <p style="color:green"><%- messages.success %></p>
<% } %>
 
<!-- funcion para arreglar el formato de las fechas en este caso usamos para el listado de OTs -->
<%
function formatear_fecha(date) {
    var d = new Date(date),
        month = '' + (d.getMonth() + 1),
        day = '' + d.getDate(),
        year = d.getFullYear();

    if (month.length < 2) month = '0' + month;
    if (day.length < 2) day = '0' + day;
    
    if(month == 12 && day == 31 && year == 1969)
    { return "-";}
    else
    {return [day,month,year].join('/');}//retornamos valor como a mysql le gusta
}
%>
<!-- ESTILO PARA DATEPICKER -->
<style>
[type="date"] {
  background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;
}
[type="date"]::-webkit-inner-spin-button {
  display: none;
}
[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}
/* custom styles */
body {
  background: #e5e5e5;
  font: 13px/1.4 Geneva, 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}
label {
  display: block;
}
input {
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  background-color: #fff;
  padding: 3px 5px;
  box-shadow: inset 0 3px 6px rgba(0,0,0,0.1);
  width: 190px;
}

body .modal-dialog { /* Width */
    max-width: 80%;
    width: auto !important;
}
</style>


<script type="text/javascript"> 
//al cargar la pagina ocultamos iva_5
window.onload = function() {
    document.getElementById('iva_5').hidden = true;
    document.getElementById("iva_10").value = 0; 
    document.getElementById("iva_5").value = 0;
    document.getElementById("exentas1").value = 0;
    document.getElementById("exentas").value = 0;
    document.getElementById("monto1").value = 0;
    document.getElementById("monto").value = 0;
    document.getElementById("gasto_real1").value = 0;
    document.getElementById("gasto_real").value = 0;
};


function calcu_concepto() 
{   var cond = document.getElementById("codigo").value;
    var cond1 = document.getElementById("fact_condicion").value;
    if(cond == "4")
    {   //colocamos a 0 el gasto real
        document.getElementById("gasto_real1").disabled = true;
        document.getElementById("gasto_real1").value = 0; 
        document.getElementById("gasto_real").value = (parseInt(document.getElementById("gasto_real1").value) || 0);
    }
    else//si no es condicion = 4, vemos si es credito o no, si si es entonces mantenemos disabled
    {   if(cond1 == "BOLETA_PAGO" || cond1 == "COMP_INGRESO" || cond1 == "RECIBO" || cond1 == "S_F" || cond1 == "RECIBO_COMUN" || cond1 == "NOTA_CREDITO" || cond == "NO_CONTABLE")
        {   document.getElementById("gasto_real1").disabled = false;}
        if(cond1 == "CREDITO")
        {   document.getElementById("gasto_real1").disabled = true;
            document.getElementById("gasto_real1").value = 0; 
            document.getElementById("gasto_real").value = (parseInt(document.getElementById("gasto_real1").value) || 0);
        }
        if(cond1 == "CONTADO")
        //cambiamos en 26/03/2020 gasto real siempre desactivado
        {   document.getElementById("gasto_real1").disabled = true;}
    }
}

function changeText() {
    //LOGICA CARGA GASTOS
    var cond = document.getElementById("fact_condicion").value;
    //alert(cond);
    if(cond == "BOLETA_PAGO" || cond == "COMP_INGRESO" || cond == "RECIBO" || cond == "S_F" || cond == "RECIBO_COMUN" || cond == "NOTA_CREDITO" || cond == "NO_CONTABLE")
    {   //HABLITAR- DESHABILITAR
        //document.getElementById("monto").disabled = true; 
        document.getElementById("exentas1").disabled = true; 
        document.getElementById("iva_10").false = true; 
        document.getElementById("iva_5").false = true;
        document.getElementById("gasto_real").disabled = false; //solo gasto real habilitado
        document.getElementById("gasto_real1").disabled = false; //solo gasto real habilitado
        document.getElementById("monto1").disabled = false; //solo gasto real habilitado
        document.getElementById("monto").disabled = false;
        document.getElementById("exentas1").disabled = false; //solo gasto real habilitado
        //ASIGNAR VALORES
        document.getElementById("monto").value = 0; 
        document.getElementById("exentas1").value = 0; 
        document.getElementById("iva_10").value = 0; 
        document.getElementById("iva_5").value = 0;
        document.getElementById("gasto_real").value = 0; 

        document.getElementById("exentas").value = (parseInt(document.getElementById("exentas1").value) || 0);
        document.getElementById("gasto_real").value = (parseInt(document.getElementById("gasto_real1").value) || 0);
        document.getElementById("monto").value = (parseInt(document.getElementById("monto1").value) || 0);

        //console.log(document.getElementById("gasto_real").value);//debug en la consola del navegador
    }
    if(cond == "CREDITO")//SOLO 
    {   //HABLITAR- DESHABILITAR
        document.getElementById("monto1").disabled = false; 
        document.getElementById("exentas1").disabled = false; 
        document.getElementById("iva_10").disabled = false; 
        document.getElementById("iva_5").disabled = false;
        document.getElementById("gasto_real1").disabled = true;  
        //ASIGNAR VALORES
        //document.getElementById("monto").value = ''; 
        document.getElementById("exentas1").value = 0; 
        //document.getElementById("iva_10").value = Math.round((document.getElementById('monto').value /11)*100) /100; 
        document.getElementById("iva_5").value = 0;
        document.getElementById("gasto_real1").value = 0; 

        document.getElementById("exentas").value = (parseInt(document.getElementById("exentas1").value) || 0);
        document.getElementById("gasto_real").value = (parseInt(document.getElementById("gasto_real1").value) || 0);
        document.getElementById("monto").value = (parseInt(document.getElementById("monto1").value) || 0);
    }
    if(cond == "CONTADO")
    {   //HABLITAR- DESHABILITAR
        document.getElementById("monto1").disabled = false; 
        document.getElementById("exentas1").disabled = false; 
        document.getElementById("iva_10").disabled = false; 
        document.getElementById("iva_5").disabled = false;
        document.getElementById("gasto_real1").disabled = true;  
        //ASIGNAR VALORES
        //document.getElementById("monto").value = 0; 
       // document.getElementById("exentas").value = 0; 
        //document.getElementById("iva_10").value = Math.round((document.getElementById('monto').value /11)*100) /100; //iva 10% incluido
        //document.getElementById("iva_5").value = Math.round((document.getElementById('monto').value *5/105)*100) /100; //iva 5% incluido
        
        //calculo de gasto real.
        document.getElementById("gasto_real").value = ((parseInt(document.getElementById("monto").value) || 0) + (parseInt(document.getElementById("exentas").value) || 0));
        document.getElementById("gasto_real1").value = ((parseInt(document.getElementById("monto").value) || 0) + (parseInt(document.getElementById("exentas").value) || 0));
        document.getElementById("exentas").value = (parseInt(document.getElementById("exentas1").value) || 0);

        document.getElementById("gasto_real").value = (parseInt(document.getElementById('gasto_real1').value) || 0);
        document.getElementById("monto").value = (parseInt(document.getElementById('monto1').value) || 0);
    }

    //document.getElementById('gasto_real').value = parseInt(document.getElementById('monto').value) + parseInt(document.getElementById('exentas').value);

    //document.getElementById('gasto').value = Math.round((document.getElementById('monto').value /11)*100) /100;
    //document.getElementById('iva_5').value = Math.round((document.getElementById('monto').value *5/100)*100) /100;  

}

function cal_iva(){
    var val = String(document.getElementById("calcu_iva").value);
    if(val == "IVA_10"){
        document.getElementById("iva_10").value = Math.round((document.getElementById('monto').value /11)*100) /100; //iva 10% incluido
        document.getElementById("iva_5").value = 0; //iva 5% incluido
        document.getElementById("iva_10").hidden = false;
        document.getElementById("iva_5").hidden = true;
    }
    if(val == "IVA_5"){
        document.getElementById("iva_10").value = 0; //iva 10% incluido
        document.getElementById("iva_5").value = Math.round((document.getElementById('monto').value *5/105)*100) /100; //iva 5% incluido
        document.getElementById("iva_10").hidden = true;
        document.getElementById("iva_5").hidden = false;
    }
    document.getElementById("exentas").value = (parseInt(document.getElementById('exentas1').value) || 0);
    document.getElementById("gasto_real").value = (parseInt(document.getElementById('gasto_real1').value) || 0);
    document.getElementById("monto").value = (parseInt(document.getElementById('monto1').value) || 0);
}

function asignar_ot(){
    //recuperamos el valor de la busqueda del filtro del datatable y asignamos al valor del OT
    document.getElementById("nro_ot").value = document.querySelector('.dataTables_filter input').value;
    //alert(valor); //debug
}

//usamos al tipear monto y exentas.
function tipea(){
    //LOGICA CARGA GASTOS
    var cond = document.getElementById("fact_condicion").value;

    //alert(cond);
    if(cond == "BOLETA_PAGO" || cond == "COMP_INGRESO" || cond == "RECIBO" || cond == "S_F" || cond == "RECIBO_COMUN" || cond == "NOTA_CREDITO" || cond == "NO_CONTABLE")
    {   document.getElementById("exentas").value = (parseInt(document.getElementById("exentas1").value) || 0);
        document.getElementById("gasto_real").value = (parseInt(document.getElementById("gasto_real1").value) || 0);
        document.getElementById("monto").value = (parseInt(document.getElementById("monto1").value) || 0);

        //console.log(document.getElementById("gasto_real").value);//debug en la consola del navegador
    }
    if(cond == "CREDITO")//SOLO 
    {   document.getElementById("exentas").value = (parseInt(document.getElementById("exentas1").value) || 0);
        document.getElementById("gasto_real").value = (parseInt(document.getElementById("gasto_real1").value) || 0);
        document.getElementById("monto").value = (parseInt(document.getElementById("monto1").value) || 0);
    }
    if(cond == "CONTADO")
    {   //calculo de gasto real.
        document.getElementById("gasto_real").value = ((parseInt(document.getElementById("monto").value) || 0) + (parseInt(document.getElementById("exentas").value) || 0));
        document.getElementById("gasto_real1").value = ((parseInt(document.getElementById("monto1").value) || 0) + (parseInt(document.getElementById("exentas1").value) || 0));
        document.getElementById("exentas").value = (parseInt(document.getElementById("exentas1").value) || 0);

        document.getElementById("gasto_real").value = (parseInt(document.getElementById('gasto_real1').value) || 0);
        document.getElementById("monto").value = (parseInt(document.getElementById('monto1').value) || 0);

        //window.alert(document.getElementById("monto1").value);//debug
        //window.alert(document.getElementById("gasto_real1").value);//debug
    }
}

</script>

<!-- NAV PARA TITULO -->
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background:#000000;">
    <div class="container-fluid">
        <h3>Carga de GASTOS</h3>
    </div>
</nav>

<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background:#000000;">
    <div class="container-fluid">
        <form action="/gastos/add" method="post" name="form1">
            <div class="form-row">

                <input type="hidden" class="form-control" name="id_proveedor" id="id_proveedor" value="<%= id_proveedor %>">
                <input type="hidden" class="form-control" name="id_caja" id="id_caja" value="<%= id_caja %>">
                <div class="form-group col-md-6">
                    <label for="fact_condicion">CONDICION FACTURA</label>
                    <select class="form-control" name="fact_condicion" id="fact_condicion" value="<%= fact_condicion %>" placeholder="condicion Factura" onclick="changeText()">
                        <option value="CONTADO">CONTADO / NOTA DE CREDITO</option>
                        <option value="CREDITO">CREDITO</option>
                        <option value="NO_CONTABLE">NO CONTABLE</option>
                        <!--<option value="COMP_INGRESO">COMPROBANTE DE INGRESO</option> SACAMOS PASA A SER "NO_CONTABLE"-->
                        <option value="RECIBO">RECIBO</option>
                        <!--<option value="RECIBO_COMUN">RECIBO COMUN</option> SACAMOS queda como "NO_CONTABLE" -->
                        <!--<option value="BOLETA_PAGO">BOLETA DE PAGO</option> SACAMOS queda como "NO_CONTABLE"-->
                        <!--<option value="S_F">S/F</option> SACAMOS queda como "NO_CONTABLE"-->
                        <!--<option value="NOTA_CREDITO">NOTA DE CREDITO</option> SACAMOS PASA A SER "CONTADO" -->
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label for="fecha">FECHA</label>
                    <input type="date" class="form-control" name="fecha" id="fecha" value="<%= fecha %>" placeholder="Fecha del Gasto" >
                </div>
                <div class="form-group col-md-6">
                    <label for="monto1">MONTO</label>
                    <input type="text" class="form-control" name="monto1" id="monto1" value="<%= monto %>" placeholder="Monto" onkeyup="tipea()" onclick="changeText()">
                    <input type="hidden" class="form-control" name="monto" id="monto" value="<%= monto %>">
                </div>
                <div class="form-group col-md-6">
                    <label for="exentas1">EXENTAS</label>
                    <input type="text" class="form-control" name="exentas1" id="exentas1" value="<%= exentas %>" placeholder="Exentas" onkeyup="tipea()" onclick="changeText()">
                    <input type="hidden" class="form-control" name="exentas" id="exentas" value="<%= exentas %>">
                </div>
                <div class="form-group col-md-6">
                    <label for="calcu_iva">PORCENTAJE IVA</label>
                    <select class="form-control" name="calcu_iva" id="calcu_iva" onclick="cal_iva()">
                        <option value="IVA_10">IVA 10%</option>
                        <option value="IVA_5">IVA 5%</option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label for="iva_10">MONTO IVA</label>
                    <input type="text" class="form-control" name="iva_10" id="iva_10" value="<%= iva_10 %>" placeholder="IVA...">
                    <input type="text" class="form-control" name="iva_5" id="iva_5" value="<%= iva_5 %>" placeholder="IVA..." >
                </div>
                <div class="form-group col-md-6">
                    <label for="gasto_real1">GASTO REAL</label>
                    <input type="text" class="form-control" name="gasto_real1" id="gasto_real1" value="<%= gasto_real %>" placeholder="GASTO REAL" onclick="changeText()">
                    <input type="hidden" class="form-control" name="gasto_real" id="gasto_real" value="<%= gasto_real %>">
                </div>
                <div class="form-group col-md-6">
                    <label for="concepto">CONCEPTO</label>
                    <input type="text" class="form-control" name="concepto" id="concepto" value="<%= concepto %>" placeholder="CONCEPTO">
                </div>
                <div class="form-group col-md-6">
                    <button type="button" class="btn btn-small" data-toggle="modal" data-target="#modal_pro_gastos">Seleccionar Proveedor</button>
                    <input type="text" class="form-control" name="proveedor" id="proveedor" value="<%= proveedor %>" placeholder="PROVEEDOR..." readonly=true>
                </div>
                <!--FACTURA NRO CAMBIA A COMPROBANTE NRO. (13/01/2020) -->
                <div class="form-group col-md-6">
                    <label for="fact_nro">COMPROBANTE NRO</label>
                    <input type="text" class="form-control" name="fact_nro" id="fact_nro" value="<%= fact_nro %>" placeholder="NRO FACTURA">
                </div>
                <div class="form-group col-md-6">
                    <label for="encargado">ENCARGADO</label>
                    <input type="text" class="form-control" name="encargado" id="encargado" value="<%= encargado %>" placeholder="ENCARGADO GASTO">
                </div>
                <div class="form-group col-md-6">
                    <label for="codigo">CODIGO</label>
                    <!--<input type="text" class="form-control" name="codigo" id="codigo" value="<%= codigo %>" placeholder="CODIGO">-->
                        <select class="form-control" name="codigo" id="codigo" value="<%= codigo %>" placeholder="CODIGO" onclick="calcu_concepto()">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option><!-- cod agregado para los recibos de entrega de caja -->
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <button type="button" class="btn btn-small" data-toggle="modal" data-target="#modal_ot_gastos">Seleccionar OT</button>
                    <input type="text" class="form-control" id="nro_ot" name="nro_ot" readonly=true>
                    <!--<input type="text" class="form-control" list="lista_ot" id="nro_ot" name="nro_ot">-->
                    <!--<datalist id="lista_ot">
                        <% /* if (data) { %>
                            <% data.forEach(function(fila_ot){ %>
                                <option value="<%= fila_ot.ot_nro %>"><%= fila_ot.ot_nro %></option>
                            <% }) %>
                        <% } */ %>
                    </datalist> -->
                </div>
                <div class="form-group col-md-6">
                    <label for="imputado">INFORMACION ADICIONAL</label>
                    <input type="text" class="form-control" name="imputado" id="imputado" value="<%= imputado %>" placeholder="Imputado a...">
                </div>
                <div class="form-group col-md-6">
                    <label for="origen_pago">ORIGEN PAGO</label>
                    <input type="text" class="form-control" name="origen_pago" id="origen_pago" value="<%= origen_pago %>" placeholder="origen pago">
                </div>
                <!-- CARGAR LAS CAJAS DE LA PERSONA  recibimos el valor "caja" pero le pasamos CONCEPTO desde los datos de CAJA -->
                <div class="form-group col-md-6">
                    <button type="button" class="btn btn-small" data-toggle="modal" data-target="#modal_caja_gastos">CAJAS ASIGNADAS</button>
                    <input type="text" class="form-control" id="caja" name="caja" value="<%= caja %>">
                </div>
                
            <% if (usuario == 'ksanabria' ||  usuario == 'josorio' ||  usuario == 'admin' ) { %>   
                <div class="form-group col-md-6">
                    <label for="tipo">CODIGO</label>
                        <select class="form-control" name="tipo" id="tipo" value="<%= tipo %>" placeholder="tipo gasto">
                        <option value="CONF">CONFIDENCIAL</option>
                        <option value="NO_CONF">NO CONFIDENCIAL</option>
                    </select>
                </div>
            <% } %>
            </div>
            <button type="submit" name="Submit" id="insertar" value="insertar" class="btn btn-primary">INSERTAR</button>
        </form>
    </div>
</nav>


<!-- MODAL de OTs -->
<div class="modal fade" id="modal_ot_gastos" tabindex="-1" role="dialog" aria-labelledby="modal_ot_gastosLabel" aria-hidden="true">
    <div class="modal-dialog" width="100%" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="modal_ot_gastosLabel">Listado de OTs</h5>
        </div>
        <div class="modal-body">
            <!-- ACA PONEMOS LA TABLA QUE DEBE SER COMO /LISTAR -->

        <div class="container-fluid" width="100%">
            <table id="table_modal_ot_gastos" class="table-striped table-bordered table-sm" cellspacing="0" width="100%">
                    <thead style="background: rgb(137, 151, 212); border-left: 1px solid #EB8; border-right: 1px solid #B74;
                    border-top: 1px solid #EB8; font-weight: normal; padding: 4px 3px;">
                        <tr>
                            <th>Nro OT</th>
                            <th>FECHA EMISION</th>
                            <th>F INI EJECUCION</th>
                            <th>F FIN EJECUCION</th>
                            <th>Nro FACTURA</th>
                            <th>Est FACTURA</th>
                            <th>Nro RECIBO</th>
                            <th>Nro REMISION</th>
                            <th>TIPO FACTURA</th>       
                            <th>CLIENTE</th>
                            <th>OBRA</th>
                            <th>DESCRIPCION</th>           
                        </tr>
                    </thead>
                <tbody>
                        <% if (data) { %>
                            <% data.forEach(function(ot){ %>
                    <tr>
                        <td><%= ot.ot_nro %></td>
                        <td><%= formatear_fecha(ot.fec_emision) %></td>
                        <td><%= formatear_fecha(ot.fec_ini_ejecucion) %></td>
                        <td><%= formatear_fecha(ot.fec_fin_ejecucion) %></td>
                        <td><%= ot.fact_nro %></td>
                        <td><%= ot.fact_estado %></td>
                        <td><%= ot.recibo_nro %></td>
                        <td><%= ot.remision_nro %></td>
                        <td><%= ot.fact_tipo %></td>
                        <td><%= ot.cliente %></td>
                        <td><%= ot.obra %></td>
                        <td><%= ot.descripcion %></td>
                    </tr>
                    <% }) %>
                    <% } %>
                </tbody>
            </table>
        </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">CERRAR</button>
            <!--<button type="button" class="btn btn-primary">Save changes</button>-->
        </div>
        </div>
    </div>
</div>

<!-- MODAL de PROVEEDORES -->
<div class="modal fade" id="modal_pro_gastos" tabindex="-1" role="dialog" aria-labelledby="modal_pro_gastosLabel" aria-hidden="true">
    <div class="modal-dialog" width="100%" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="modal_pro_gastosLabel">Listado de Proveedores</h5>
        </div>
        <div class="modal-body">
            <!-- ACA PONEMOS LA TABLA QUE DEBE SER COMO /LISTAR -->
            <div class="container-fluid" width="100%">
                <table id="table_modal_pro_gastos" class="table-striped table-bordered table-sm" cellspacing="0" width="100%">
                        <thead style="background: rgb(137, 151, 212); border-left: 1px solid #EB8; border-right: 1px solid #B74;
                        border-top: 1px solid #EB8; font-weight: normal; padding: 4px 3px;">
                            <tr>
                                <th>ID</th>
                                <th>NOMBRE</th>
                                <th>RUC</th>      
                            </tr>
                        </thead>
                    <tbody>
                    <% if (data_pro) { %>
                    <% data_pro.forEach(function(prov){ %>
                        <tr>
                            <td><%= prov.id %></td>
                            <td><%= prov.nombre %></td>
                            <td><%= prov.ruc %></td>
                        </tr>
                    <% }) %>
                    <% } %>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">CERRAR</button>
        </div>
        </div>
    </div>
</div>


<!-- MODAL de CAJAS -->
<div class="modal fade" id="modal_caja_gastos" tabindex="-1" role="dialog" aria-labelledby="modal_caja_gastosLabel" aria-hidden="true">
    <div class="modal-dialog" width="100%" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="modal_caja_gastosLabel">Listado de Cajas Asignadas</h5>
        </div>
        <div class="modal-body">
            <!-- ACA PONEMOS LA TABLA QUE DEBE SER COMO /LISTAR -->
            <div class="container-fluid" width="100%">
                <table id="table_caja_gasto" class="table-striped table-bordered table-sm" cellspacing="0" width="100%">
                        <thead style="background: rgb(137, 151, 212); border-left: 1px solid #EB8; border-right: 1px solid #B74;
                        border-top: 1px solid #EB8; font-weight: normal; padding: 4px 3px;">
                            <tr>
                                <th>ID</th>
                                <th>CONCEPTO</th>
                                <th>RESPONSABLE</th>      
                            </tr>
                        </thead>
                    <tbody>
                    <% if (data_cajas) { %>
                        <% data_cajas.forEach(function(caja){ %>
                            <tr>
                                <td><%= caja.id %></td>
                                <td><%= caja.concepto %></td>
                                <td><%= caja.responsable %></td>
                            </tr>
                        <% }) %>
                    <% } %>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">CERRAR</button>
        </div>
        </div>
    </div>
</div>

<!-- BOTONES DE EXPORTACION -->
<nav class="navbar navbar-expand-lg navbar-light bg-strong">
    <div class="container-fluid">

    </div>
</nav>
<!--
including footer content which is common for all pages
-->
<%- include ../layouts/footer.ejs %>