<%- include ../layouts/header.ejs %>
 
<% if (messages.error) { %>
    <p style="color:red"><%- messages.error %></p>
<% } %>
 
<% if (messages.success) { %>
    <p style="color:green"><%- messages.success %></p>
<% } %>    

<!-- funcion para arreglar el formato de las fechas -->
<%
function formatear_fecha(date) {
    var d = new Date(date),
        month = '' + (d.getMonth() + 1),
        day = '' + d.getDate(),
        year = d.getFullYear();

    if (month.length < 2) month = '0' + month;
    if (day.length < 2) day = '0' + day;
    
    if(month == 12 && day == 31 && year == 1969)
    { return "-";}
    else
    {return [day,month,year].join('/');}//retornamos valor como a mysql le gusta
}
%>

<script>
    $(document).ready( function() {
        $('#tablex').DataTable( {
            "scrollY":        "200px",
            "scrollCollapse": true,
            "paging":         false
        } );
    });
</script>

<style>
    .table-fixed tbody {
    height: 400px;
    overflow-y: auto;
    width: 100%;
    }
    .table-fixed thead,
    .table-fixed tbody,
    .table-fixed tr,
    .table-fixed td,
    .table-fixed th {
    display: block;
    }
    .table-fixed tr:after {
    content: "";
    display: block;
    visibility: hidden;
    clear: both;
    }
    .table-fixed tbody td,
    .table-fixed thead > tr > th {
    float: left;
    }
    .table > thead > tr > th,
    .table > thead > tr > td {
    font-size: .9em;
    font-weight: 400;
    border-bottom: 0;
    letter-spacing: 1px;
    vertical-align: top;
    padding: 8px;
    background: #51596a;
    text-transform: uppercase;
    color: #ffffff;
    }
</style>


<div class="container-fluid" width="100%">
    <table id="tablex" class="table-striped table-bordered table-sm" cellspacing="0" width="100%">
            <thead style="background: rgb(137, 151, 212); border-left: 1px solid #EB8; border-right: 1px solid #B74;
            border-top: 1px solid #EB8; font-weight: normal; padding: 4px 3px;">
                <tr>
                    <th>ID</th>
                    <th>NOMBRE</th>
                    <th>RUC</th>      
                    <th>ACCIONES</th>
                </tr>
            </thead>
        <tbody>
        <% if (data) { %>
        <% data.forEach(function(proveedor){ %>
            <tr>
                <td><%= proveedor.id %></td>
                <td><%= proveedor.nombre %></td>
                <td><%= proveedor.ruc %></td>
                <td>
                    <div>
                        <a href='/proveedor/editar/<%= proveedor.id %>'>Ver</a> &nbsp;                            
                        <form method="post" action="/proveedor/eliminar/<%= proveedor.id %>" style="float:right">
                            <input type="submit" name="delete" value='Delete' onClick="return confirm('Seguro que desea borrar el registro de proveedor?')" />
                            <input type="hidden" name="_method" value="DELETE" />
                        </form>
                    </div>
                </td>
            </tr>
            <% }) %>
            <% } %>
        </tbody>

    </table>
</div>
<!---->

<!-- BOTONES DE EXPORTACION -->
<nav class="navbar navbar-expand-lg navbar-light bg-strong">
    <div class="container-fluid">
            <form action="/proveedor/descargar" method="POST" name="form">
                <button type="submit" id="submit" class="btn btn-info">
                    <i class="fas fa-share"></i>
                </button>
            </form>
    </div>
</nav>
<!--
including footer content which is common for all pages
-->
<%- include ../layouts/footer.ejs %>    