<!-- including header content which is common for all pages  -->
<%- include ../layouts/header.ejs %>   
 
<% if (messages.error) { %>
    <p style="color:red"><%- messages.error %></p>
<% } %>
 
<% if (messages.success) { %>
    <p style="color:green"><%- messages.success %></p>
<% } %>
 
<!-- funcion para arreglar el formato de las fechas en este caso usamos para el listado de OTs -->
<%
function formatear_fecha(date) {
    var d = new Date(date),
        month = '' + (d.getMonth() + 1),
        day = '' + d.getDate(),
        year = d.getFullYear();

    if (month.length < 2) month = '0' + month;
    if (day.length < 2) day = '0' + day;
    
    if(month == 12 && day == 31 && year == 1969)
    { return "-";}
    else
    {return [day,month,year].join('/');}//retornamos valor como a mysql le gusta
}
%>

<script type="text/javascript"> 

function check_ot_m(){
    //verificamos si la OT es menor que 999900 entonces sea READONLY
    var ot_num = Number(document.getElementById("ot_plan_m").value);
    alert(ot_num);
    if(ot_num >= 999900)
    {   document.getElementById("cliente_plan_m").readOnly = false;
        document.getElementById("obra_plan_m").readOnly = false;
        document.getElementById("encargado").readOnly = false;
        document.getElementById("trato_cliente").readOnly = false;
    }
    else
    {   document.getElementById("cliente_plan_m").readOnly = true;
        document.getElementById("obra_plan_m").readOnly = true;
        document.getElementById("encargado").readOnly = true;
        document.getElementById("trato_cliente").readOnly = true;
    }
}
function check_ot_t(){
    //verificamos si la OT es menor que 999900 entonces sea READONLY
    var ot_num = Number(document.getElementById("ot_plan_t").value);
    alert(ot_num);
    if(ot_num >= 999900)
    {   document.getElementById("cliente_plan_t").readOnly = false;
        document.getElementById("obra_plan_t").readOnly = false;
        document.getElementById("encargado2").readOnly = false;
        document.getElementById("trato_cliente2").readOnly = false;
    }
    else
    {   document.getElementById("cliente_plan_t").readOnly = true;
        document.getElementById("obra_plan_t").readOnly = true;
        document.getElementById("encargado2").readOnly = true;
        document.getElementById("trato_cliente2").readOnly = true;
    }
}

function dup_h_neg(){
    var h1 = Number((document.getElementById('hora_neg').value.replace(",",".")));
    h1 = h1 * (1.5);
    //alert(h1); //debug
    document.getElementById("hora_neg").value = h1.toString().replace(".",","); //duplicamos el item
}
function dup_h_50(){
    var h2 = Number((document.getElementById('hora_50').value.replace(",",".")));
    h2 = h2 *(1.5);
    //alert(h2); //debug
    document.getElementById("hora_50").value = h2.toString().replace(".",","); //duplicamos el item
}
function dup_h_100(){
    var h3 = Number((document.getElementById('hora_100').value.replace(",",".")));
    h3 =(h3 * 2);
    //alert(h3); //debug
    document.getElementById("hora_100").value = h3.toString().replace(".",","); //duplicamos el item
}
function hoy()
{   var today = new Date();
    var dd = today.getDate();
    var mm = today.getMonth() + 1; //January is 0!

    var yyyy = today.getFullYear();
    if (dd < 10) { dd = '0' + dd; } 
    if (mm < 10) { mm = '0' + mm; } 
    var today = yyyy + '-' + mm + '-' + dd;
    return today;
}
</script>

<!-- ESTILO PARA DATEPICKER -->
<style>
    [type="date"] {
    background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;
    }
    [type="date"]::-webkit-inner-spin-button {
    display: none;
    }
    [type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
    }
    /* custom styles */
    body {
    background: #e5e5e5;
    font: 13px/1.4 Geneva, 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    }
    label {
    display: block;
    }
    input {
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    background-color: #fff;
    padding: 3px 5px;
    box-shadow: inset 0 3px 6px rgba(0,0,0,0.1);
    width: 190px;
    }

    body .modal-dialog { /* Width */
        max-width: 80%;
        width: auto !important;
    }
</style>


<!-- NAV PARA TITULO -->
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background:#000000;">
    <div class="container-fluid">
        <h3>Carga de Plan Laboral / Mano de Obra </h3>
    </div>
</nav>
<!--form action="/mano/add_listar" method="post" name="form1">
    <div class="form-row col-md-2">
        <input type="date" class="form-control" name="fecha1" id="fecha1" placeholder="Fecha Planificacion" >
        <button type="submit" name="Submit" value="Insertar" class="btn btn-small">Buscar</button>
    </div>
</form>-->


<!-- NAV TABLITA CABECERA CON CARGADO -->
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background:#000000;">
    <div class="container-fluid">   
        <div class="container-fluid" width="100%">
            <table id="tablex" class="table-striped table-bordered table-sm" cellspacing="0" width="100%">
                    <thead style="background: rgb(137, 151, 212); border-left: 1px solid #EB8; border-right: 1px solid #B74;
                    border-top: 1px solid #EB8; font-weight: normal; padding: 4px 3px;">
                        <tr>
                            <th>FECHA</th>
                            <th>EMPLEADO</th>
                            <th>OT PLAN MAÑANA</th>
                            <th>CLIENTE PLAN MAÑANA</th>
                            <th>OBRA PLAN MAÑANA</th>
                            <th>ENCARGADO MAÑANA</th>
                            <th>TRATO CLIENTE MAÑANA</th>
                            <th>OT PLAN TARDE</th>
                            <th>CLIENTE PLAN TARDE</th>
                            <th>OBRA PLAN TARDE</th>
                            <th>ENCARGADO TARDE</th>
                            <th>TRATO CLIENT TARDE</th>
                            <th>ACCIONES</th>
                        </tr>
                    </thead>
                <tbody>
                <% if(data) { %>
                <% data.forEach(function(mano){ %>
                    <tr>
                        <td><%= formatear_fecha(mano.fecha) %></td>
                        <td><%= mano.empleado %></td>
                        <td><%= mano.ot_plan_m %></td>
                        <td><%= mano.cliente_plan_m %></td>
                        <td><%= mano.obra_plan_m %></td>
                        <td><%= mano.encargado %></td>
                        <td><%= mano.trato_cliente %></td>
                        <td><%= mano.ot_plan_t %></td>
                        <td><%= mano.cliente_plan_t %></td>
                        <td><%= mano.obra_plan_t %></td>
                        <td><%= mano.encargado2 %></td>
                        <td><%= mano.trato_cliente2 %></td>
                        <td>
                            <div>
                                <a href='/mano/editar/<%= mano.id %>'>Ver</a> &nbsp; 
                                <% if (usuario != 'cibanez' && usuario != 'prueba' ) { %><a href='/mano/eliminar/<%= mano.id %>'>Eliminar</a><% } %>                          
                                <!--<form method="post" action="/mano/eliminar/<%= mano.id %>" style="float:right">
                                    <input type="submit" name="delete" value='Delete' onClick="return confirm('Seguro que desea borrar la factura?')" />
                                    <input type="hidden" name="_method" value="DELETE" />
                                </form>-->
                            </div>
                        </td>
                    </tr>
                    <% }) %>
                    <% } %>
                </tbody>
        
            </table>
        </div>
    </div>
</nav>

<!-- NAV FORM CARGA PLANIFICACION -->
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background:#000000;">
    <div class="container-fluid">
        <form action="/mano/add_mano" method="post" name="form1">
            <div class="form-row">

                <!-- 
                    OTs seleccionadas
                -->
                <input type="hidden" class="form-control" name="ot_plan_m" id="ot_plan_m" value="<%= ot_plan_m %>">
                <input type="hidden" class="form-control" name="ot_plan_t" id="ot_plan_t" value="<%= ot_plan_t %>">
                <!--<input type="hidden" class="form-control" name="ot_real_m" id="ot_real_m" value="<%= ot_real_m %>">-->
                <!--<input type="hidden" class="form-control" name="ot_real_t" id="ot_real_t" value="<%= ot_real_t %>">-->
                <!--<input type="hidden" class="form-control" name="ot_real_n" id="ot_real_n" value="<%= ot_real_n %>">-->

                <div class="form-group col-md-1.5">
                    <label for="fecha">FECHA</label>
                    <input type="date" class="form-control" name="fecha" id="fecha" value="<%= fecha %>" placeholder="Fecha Planificacion" >
                </div>
                <!--<div class="form-group col-md-6">
                    <label for="nro_ot">NRO OT <button type="button" class="btn btn-small" data-toggle="modal" data-target="#exampleModal">
                            ver OTs</button>
                    </label>
                    <input type="text" class="form-control" id="nro_ot" name="nro_ot">
                </div>-->
                <div class="form-group col-md-2">
                    <!--<label for="empleado">PERSONAL ASISPRO</label>-->
                    <button type="button" class="btn btn-xs" data-toggle="modal" data-target="#modal_rrhh">PERSONAL</button>
                    <input type="text" class="form-control" name="empleado" id="empleado" value="<%= empleado %>">
                </div>
                <div class="form-group col-md-2">
                    <label for="codigo">CODIGO</label>
                    <input type="text" class="form-control" name="codigo" id="codigo" value="<%= codigo %>">
                </div>
                <div class="form-group col-md-2">
                    <label for="cliente_plan_m">CLIENTE PLANIFICADO MAÑANA</label>-  
                    <button type="button" class="btn btn-xs" data-toggle="modal" data-target="#modal_ot_1">OTs</button>
                    <input type="text" class="form-control" name="cliente_plan_m" id="cliente_plan_m" value="<%= cliente_plan_m %>" placeholder="CLIENTE PLANIFICADO MAÑANA">
                </div>
                <div class="form-group col-md-2">
                    <label for="obra_plan_m">OBRA PLANIFICADA MAÑANA</label>
                    <input type="text" class="form-control" name="obra_plan_m" id="obra_plan_m" value="<%= obra_plan_m %>">
                </div>
                <div class="form-group col-md-2">
                    <label for="encargado">ENCARGADO MAÑANA</label>
                    <input type="text" class="form-control" name="encargado" id="encargado" value="<%= encargado %>">
                </div>
                <div class="form-group col-md-2">
                    <label for="trato_cliente">TRATO C/ EL CLIENTE MAÑANA</label>
                    <input type="text" class="form-control" name="trato_cliente" id="trato_cliente" value="<%= trato_cliente %>">
                </div>
                <div class="form-group col-md-2">
                    <label for="cliente_plan_t">CLIENTE PLANIFICADO TARDE</label>
                    <button type="button" class="btn btn-xs" data-toggle="modal" data-target="#modal_ot_2">OTs</button>
                    <input type="text" class="form-control" name="cliente_plan_t" id="cliente_plan_t" value="<%= cliente_plan_t %>" placeholder="CLIENTE PLANIFICADO TARDE">
                </div>
                <div class="form-group col-md-2">
                    <label for="obra_plan_t">OBRA PLANIFICADA TARDE</label>
                    <input type="text" class="form-control" name="obra_plan_t" id="obra_plan_t" value="<%= obra_plan_t %>">
                </div>
                <div class="form-group col-md-2">
                    <label for="encargado2">ENCARGADO TARDE</label>
                    <input type="text" class="form-control" name="encargado2" id="encargado2" value="<%= encargado2 %>">
                </div>
                <div class="form-group col-md-2">
                    <label for="trato_cliente2">TRATO C/ EL CLIENTE TARDE</label>
                    <input type="text" class="form-control" name="trato_cliente2" id="trato_cliente2" value="<%= trato_cliente2 %>">
                </div>
                <!--<div class="form-group col-md-2">
                    <label for="cliente_real_m">CLIENTE REAL MAÑANA</label>
                    <button type="button" class="btn btn-small" data-toggle="modal" data-target="#modal_ot_3">OTs</button>
                    <input type="text" class="form-control" name="cliente_real_m" id="cliente_real_m" value="<%= cliente_real_m %>">
                </div>
                <div class="form-group col-md-2">
                    <label for="obra_real_m">OBRA REAL MAÑANA</label>
                    <input type="text" class="form-control" name="obra_real_m" id="obra_real_m" value="<%= obra_real_m %>">
                </div>-->
                <!--<div class="form-group col-md-2">
                    <label for="h_entrada">HORARIO ENTRADA</label>
                    <input type="text" class="form-control" name="h_entrada" id="h_entrada" value="<%= h_entrada %>" placeholder="HORARIO ENTRADA">
                </div>
                <div class="form-group col-md-2">
                    <label for="h_salida">HORARIO SALIDA</label>
                    <input type="text" class="form-control" name="h_salida" id="h_salida" value="<%= h_salida %>" placeholder="HORARIO SALIDA">
                </div>-->
                <!--<div class="form-group col-md-2">
                    <label for="cliente_real_t">CLIENTE REAL TARDE</label>
                    <button type="button" class="btn btn-small" data-toggle="modal" data-target="#modal_ot_4">OTs</button>
                    <input type="text" class="form-control" name="cliente_real_t" id="cliente_real_t" value="<%= cliente_real_t %>">
                </div>
                <div class="form-group col-md-2">
                    <label for="obra_real_t">OBRA REAL TARDE</label>
                    <input type="text" class="form-control" name="obra_real_t" id="obra_real_t" value="<%= obra_real_t %>">
                </div>-->
                <div class="form-group col-md-2 ">
                    <label for="cliente_real_n">CLIENTE REAL NOCHE</label>
                    <button type="button" class="btn btn-small" data-toggle="modal" data-target="#modal_ot_5">OTs</button>
                    <input type="text" class="form-control" name="cliente_real_n" id="cliente_real_n" value="<%= cliente_real_n %>">
                </div>
                <div class="form-group col-md-2">
                    <label for="obra_real_n">OBRA REAL NOCHE</label>
                    <input type="text" class="form-control" name="obra_real_n" id="obra_real_n" value="<%= obra_real_n %>">
                </div>
                <!--<div class="form-group col-md-2">
                    <label for="hora_normal">HORA NORMAL</label>
                    <input type="text" class="form-control" name="hora_normal" id="hora_normal" value="<%= hora_normal %>">
                </div>
                <div class="form-group col-md-2">
                    <label for="hora_50">HORA 50</label>
                    <input type="text" class="form-control" name="hora_50" id="hora_50" value="<%= hora_50 %>" onclick="dup_h_50()">
                </div>
                <div class="form-group col-md-2">
                    <label for="hora_100">HORA 100</label>
                    <input type="text" class="form-control" name="hora_100" id="hora_100" value="<%= hora_100 %>" onclick="dup_h_100()">
                </div>
                <div class="form-group col-md-2">
                    <label for="hora_neg">HORA NEGATIVA</label>
                    <input type="text" class="form-control" name="hora_neg" id="hora_neg" value="<%= hora_neg %>" onclick="dup_h_neg()">
                </div>
                <div class="form-group col-md-2">
                    <label for="pasaje">PASAJE</label>
                    <input type="text" class="form-control" name="pasaje" id="pasaje" value="<%= pasaje %>">
                </div>-->
            </div>
            <button type="submit" name="Submit" value="Insertar" class="btn btn-primary">INSERTAR</button>
        </form>
    </div>
</nav>


<!-- MODAL de RECURSOS HUMANOS -->
<div class="modal fade" id="modal_rrhh" tabindex="-1" role="dialog" aria-labelledby="modal_rrhhLabel" aria-hidden="true">
    <div class="modal-dialog" width="100%" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal_rrhhLabel">Listado de Empleados</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="container-fluid" width="100%">
                    <table id="table_rrhh_mano" class="table-striped table-bordered table-sm" cellspacing="0" width="100%">
                            <thead style="background: rgb(137, 151, 212); border-left: 1px solid #EB8; border-right: 1px solid #B74;
                            border-top: 1px solid #EB8; font-weight: normal; padding: 4px 3px;">
                                <tr>
                                    <th>CODIGO</th>
                                    <th>NOMBRES</th>
                                    <th>TELEFONO MOVIL</th>
                                    <th>OCUPACION</th>
                                    <!--<th>TIPO EMPLEADO</th>
                                    <th>JORNAL</th>   -->
                                </tr>
                            </thead>
                        <tbody>
                        <% if(data_rrhh) { %>
                            <% data_rrhh.forEach(function(emple){ %>
                            <tr>
                                <td><%= emple.codigo %></td>
                                <td><%= emple.nombres + ' ' + emple.apellidos %></td>
                                <td><%= emple.tel_movil %></td>
                                <td><%= emple.ocupacion %></td>
                                <!--<td><%= emple.tipo_empleado %></td>
                                <td><%= emple.jornal %></td> -->
                            </tr>
                            <% }) %>
                        <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">CERRAR</button>
            </div>
        </div>
    </div>
</div>

<!-- MODAL de OTs -->
<div class="modal fade" id="modal_ot_1" tabindex="-1" role="dialog" aria-labelledby="modal_ot_1Label" aria-hidden="true">
    <div class="modal-dialog" width="100%" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal_ot_1Label">Listado de OTs</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
        <div class="modal-body">

        <div class="container-fluid" width="100%">
            <table id="table_ot_plan_m_mano" class="table-striped table-bordered table-sm" cellspacing="0" width="100%">
                    <thead style="background: rgb(137, 151, 212); border-left: 1px solid #EB8; border-right: 1px solid #B74;
                    border-top: 1px solid #EB8; font-weight: normal; padding: 4px 3px;">
                        <tr>
                            <th>Nro OT</th>
                            <th>FECHA EMISION</th>
                            <th>F INI EJECUCION</th>
                            <th>F FIN EJECUCION</th>
                            <th>Nro FACTURA</th>
                            <th>Est FACTURA</th>
                            <th>Nro RECIBO</th>
                            <th>Nro REMISION</th>
                            <th>TIPO FACTURA</th>       
                            <th>CLIENTE</th>
                            <th>OBRA</th>
                            <th>DESCRIPCION</th>
                            <th>ENCARGADO</th>
                            <th>TRATO CLIENTE</th>
                        </tr>
                    </thead>
                <tbody>
                <% if (data_ot) { %>
                    <% data_ot.forEach(function(ot){ %>
                    <tr>
                        <td><%= ot.ot_nro %></td>
                        <td><%= formatear_fecha(ot.fec_emision) %></td>
                        <td><%= formatear_fecha(ot.fec_ini_ejecucion) %></td>
                        <td><%= formatear_fecha(ot.fec_fin_ejecucion) %></td>
                        <td><%= ot.fact_nro %></td>
                        <td><%= ot.fact_estado %></td>
                        <td><%= ot.recibo_nro %></td>
                        <td><%= ot.remision_nro %></td>
                        <td><%= ot.fact_tipo %></td>
                        <td><%= ot.cliente %></td>
                        <td><%= ot.obra %></td>
                        <td><%= ot.descripcion %></td>
                        <td><%= ot.encargado %></td>
                        <td><%= ot.trato_cliente %></td>
                    </tr>
                    <% }) %>
                <% } %>
                </tbody>
            </table>
        </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="check_ot_m()">CERRAR</button>
        </div>
        </div>
    </div>
</div><!---->
<div class="modal fade" id="modal_ot_2" tabindex="-1" role="dialog" aria-labelledby="modal_ot_2Label" aria-hidden="true">
    <div class="modal-dialog" width="100%" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal_ot_2Label">Listado de OTs</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
        <div class="modal-body">

        <div class="container-fluid" width="100%">
            <table id="table_ot_plan_t_mano" class="table-striped table-bordered table-sm" cellspacing="0" width="100%">
                    <thead style="background: rgb(137, 151, 212); border-left: 1px solid #EB8; border-right: 1px solid #B74;
                    border-top: 1px solid #EB8; font-weight: normal; padding: 4px 3px;">
                        <tr>
                            <th>Nro OT</th>
                            <th>FECHA EMISION</th>
                            <th>F INI EJECUCION</th>
                            <th>F FIN EJECUCION</th>
                            <th>Nro FACTURA</th>
                            <th>Est FACTURA</th>
                            <th>Nro RECIBO</th>
                            <th>Nro REMISION</th>
                            <th>TIPO FACTURA</th>       
                            <th>CLIENTE</th>
                            <th>OBRA</th>
                            <th>DESCRIPCION</th>
                            <th>ENCARGADO</th>
                            <th>TRATO CLIENTE</th>
                        </tr>
                    </thead>
                <tbody>
                <% if (data_ot) { %>
                    <% data_ot.forEach(function(ot){ %>
                    <tr>
                        <td><%= ot.ot_nro %></td>
                        <td><%= formatear_fecha(ot.fec_emision) %></td>
                        <td><%= formatear_fecha(ot.fec_ini_ejecucion) %></td>
                        <td><%= formatear_fecha(ot.fec_fin_ejecucion) %></td>
                        <td><%= ot.fact_nro %></td>
                        <td><%= ot.fact_estado %></td>
                        <td><%= ot.recibo_nro %></td>
                        <td><%= ot.remision_nro %></td>
                        <td><%= ot.fact_tipo %></td>
                        <td><%= ot.cliente %></td>
                        <td><%= ot.obra %></td>
                        <td><%= ot.descripcion %></td>
                        <td><%= ot.encargado %></td>
                        <td><%= ot.trato_cliente %></td>
                    </tr>
                    <% }) %>
                <% } %>
                </tbody>
            </table>
        </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="check_ot_t()">CERRAR</button>
        </div>
        </div>
    </div>
</div><!---->
<div class="modal fade" id="modal_ot_3" tabindex="-1" role="dialog" aria-labelledby="modal_ot_3Label" aria-hidden="true">
    <div class="modal-dialog" width="100%" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal_ot_3Label">Listado de OTs</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
        <div class="modal-body">

        <div class="container-fluid" width="100%">
            <table id="table_ot_real_m_mano" class="table-striped table-bordered table-sm" cellspacing="0" width="100%">
                    <thead style="background: rgb(137, 151, 212); border-left: 1px solid #EB8; border-right: 1px solid #B74;
                    border-top: 1px solid #EB8; font-weight: normal; padding: 4px 3px;">
                        <tr>
                            <th>Nro OT</th>
                            <th>FECHA EMISION</th>
                            <th>F INI EJECUCION</th>
                            <th>F FIN EJECUCION</th>
                            <th>Nro FACTURA</th>
                            <th>Est FACTURA</th>
                            <th>Nro RECIBO</th>
                            <th>Nro REMISION</th>
                            <th>TIPO FACTURA</th>       
                            <th>CLIENTE</th>
                            <th>OBRA</th>
                            <th>DESCRIPCION</th>
                            <th>ENCARGADO</th>
                            <th>TRATO CLIENTE</th>
                        </tr>
                    </thead>
                <tbody>
                <% if (data_ot) { %>
                    <% data_ot.forEach(function(ot){ %>
                    <tr id="<%= ot.ot_nro %>">
                        <td><%= ot.ot_nro %></td>
                        <td><%= formatear_fecha(ot.fec_emision) %></td>
                        <td><%= formatear_fecha(ot.fec_ini_ejecucion) %></td>
                        <td><%= formatear_fecha(ot.fec_fin_ejecucion) %></td>
                        <td><%= ot.fact_nro %></td>
                        <td><%= ot.fact_estado %></td>
                        <td><%= ot.recibo_nro %></td>
                        <td><%= ot.remision_nro %></td>
                        <td><%= ot.fact_tipo %></td>
                        <td><%= ot.cliente %></td>
                        <td><%= ot.obra %></td>
                        <td><%= ot.descripcion %></td>
                        <td><%= ot.encargado %></td>
                        <td><%= ot.trato_cliente %></td>
                    </tr>
                    <% }) %>
                <% } %>
                </tbody>
            </table>
        </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">CERRAR</button>
        </div>
        </div>
    </div>
</div><!---->
<div class="modal fade" id="modal_ot_4" tabindex="-1" role="dialog" aria-labelledby="modal_ot_4Label" aria-hidden="true">
    <div class="modal-dialog" width="100%" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal_ot_4Label">Listado de OTs</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
        <div class="modal-body">

        <div class="container-fluid" width="100%">
            <table id="table_ot_real_t_mano" class="table-striped table-bordered table-sm" cellspacing="0" width="100%">
                    <thead style="background: rgb(137, 151, 212); border-left: 1px solid #EB8; border-right: 1px solid #B74;
                    border-top: 1px solid #EB8; font-weight: normal; padding: 4px 3px;">
                        <tr>
                            <th>Nro OT</th>
                            <th>FECHA EMISION</th>
                            <th>F INI EJECUCION</th>
                            <th>F FIN EJECUCION</th>
                            <th>Nro FACTURA</th>
                            <th>Est FACTURA</th>
                            <th>Nro RECIBO</th>
                            <th>Nro REMISION</th>
                            <th>TIPO FACTURA</th>       
                            <th>CLIENTE</th>
                            <th>OBRA</th>
                            <th>DESCRIPCION</th>
                            <th>ENCARGADO</th>
                            <th>TRATO CLIENTE</th>
                        </tr>
                    </thead>
                <tbody>
                <% if (data_ot) { %>
                    <% data_ot.forEach(function(ot){ %>
                    <tr id="<%= ot.ot_nro %>">
                        <td><%= ot.ot_nro %></td>
                        <td><%= formatear_fecha(ot.fec_emision) %></td>
                        <td><%= formatear_fecha(ot.fec_ini_ejecucion) %></td>
                        <td><%= formatear_fecha(ot.fec_fin_ejecucion) %></td>
                        <td><%= ot.fact_nro %></td>
                        <td><%= ot.fact_estado %></td>
                        <td><%= ot.recibo_nro %></td>
                        <td><%= ot.remision_nro %></td>
                        <td><%= ot.fact_tipo %></td>
                        <td><%= ot.cliente %></td>
                        <td><%= ot.obra %></td>
                        <td><%= ot.descripcion %></td>
                        <td><%= ot.encargado %></td>
                        <td><%= ot.trato_cliente %></td>
                    </tr>
                    <% }) %>
                <% } %>
                </tbody>
            </table>
        </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">CERRAR</button>
        </div>
        </div>
    </div>
</div><!---->
<div class="modal fade" id="modal_ot_5" tabindex="-1" role="dialog" aria-labelledby="modal_ot_5Label" aria-hidden="true">
    <div class="modal-dialog" width="100%" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal_ot_5Label">Listado de OTs</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
        <div class="modal-body">

        <div class="container-fluid" width="100%">
            <table id="table_ot_real_n_mano" class="table-striped table-bordered table-sm" cellspacing="0" width="100%">
                    <thead style="background: rgb(137, 151, 212); border-left: 1px solid #EB8; border-right: 1px solid #B74;
                    border-top: 1px solid #EB8; font-weight: normal; padding: 4px 3px;">
                        <tr>
                            <th>Nro OT</th>
                            <th>FECHA EMISION</th>
                            <th>F INI EJECUCION</th>
                            <th>F FIN EJECUCION</th>
                            <th>Nro FACTURA</th>
                            <th>Est FACTURA</th>
                            <th>Nro RECIBO</th>
                            <th>Nro REMISION</th>
                            <th>TIPO FACTURA</th>       
                            <th>CLIENTE</th>
                            <th>OBRA</th>
                            <th>DESCRIPCION</th>
                            <th>ENCARGADO</th>
                            <th>TRATO CLIENTE</th>
                        </tr>
                    </thead>
                <tbody>
                <% if (data_ot) { %>
                    <% data_ot.forEach(function(ot){ %>
                    <tr id="<%= ot.ot_nro %>">
                        <td><%= ot.ot_nro %></td>
                        <td><%= formatear_fecha(ot.fec_emision) %></td>
                        <td><%= formatear_fecha(ot.fec_ini_ejecucion) %></td>
                        <td><%= formatear_fecha(ot.fec_fin_ejecucion) %></td>
                        <td><%= ot.fact_nro %></td>
                        <td><%= ot.fact_estado %></td>
                        <td><%= ot.recibo_nro %></td>
                        <td><%= ot.remision_nro %></td>
                        <td><%= ot.fact_tipo %></td>
                        <td><%= ot.cliente %></td>
                        <td><%= ot.obra %></td>
                        <td><%= ot.descripcion %></td>
                        <td><%= ot.encargado %></td>
                        <td><%= ot.trato_cliente %></td>
                    </tr>
                    <% }) %>
                <% } %>
                </tbody>
            </table>
        </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">CERRAR</button>
        </div>
        </div>
    </div>
</div><!---->


<!-- BOTONES DE EXPORTACION -->
<nav class="navbar navbar-expand-lg navbar-light bg-strong">
    <div class="container-fluid">

    </div>
</nav>
<!--
including footer content which is common for all pages
-->
<%- include ../layouts/footer.ejs %>