<!-- including header content which is common for all pages  -->
<%- include ../layouts/header.ejs %>   
 
<% if (messages.error) { %>
    <p style="color:red"><%- messages.error %></p>
<% } %>
 
<% if (messages.success) { %>
    <p style="color:green"><%- messages.success %></p>
<% } %>
 
<!-- funcion para arreglar el formato de las fechas en este caso usamos para el listado de OTs -->
<%
function formatear_fecha(date) {
    var d = new Date(date),
        month = '' + (d.getMonth() + 1),
        day = '' + d.getDate(),
        year = d.getFullYear();

    if (month.length < 2) month = '0' + month;
    if (day.length < 2) day = '0' + day;
    
    if(month == 12 && day == 31 && year == 1969)
    { return "-";}
    else
    {return [day,month,year].join('/');}//retornamos valor como a mysql le gusta
}
%>
<!-- ESTILO PARA DATEPICKER -->
<style>
[type="date"] {
  background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;
}
[type="date"]::-webkit-inner-spin-button {
  display: none;
}
[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}
/* custom styles */
body {
  background: #e5e5e5;
  font: 13px/1.4 Geneva, 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}
label {
  display: block;
}
input {
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  background-color: #fff;
  padding: 3px 5px;
  box-shadow: inset 0 3px 6px rgba(0,0,0,0.1);
  width: 190px;
}

body .modal-dialog { /* Width */
    max-width: 80%;
    width: auto !important;
}
</style>


<script type="text/javascript"> 

function asignar_ot(){
    //recuperamos el valor de la busqueda del filtro del datatable y asignamos al valor del OT
    document.getElementById("nro_ot").value = document.querySelector('.dataTables_filter input').value;
    //alert(valor); //debug
}

</script>


<!-- NAV PARA TITULO -->
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background:#000000;">
    <div class="container-fluid">
        <h3>Editar Plan Laboral / Mano de Obra </h3>
    </div>
</nav>

<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background:#000000;">
    <div class="container-fluid">
        <form action="/mano/add" method="post" name="form1">
            <div class="form-row">

                <!-- 
                    OTs seleccionadas
                -->
                <input type="hidden" class="form-control" name="ot_plan_m" id="ot_plan_m" value="<%= ot_plan_m %>">
                <input type="hidden" class="form-control" name="ot_plan_t" id="ot_plan_t" value="<%= ot_plan_t %>">
                <input type="hidden" class="form-control" name="ot_real_m" id="ot_real_m" value="<%= ot_real_m %>">
                <input type="hidden" class="form-control" name="ot_real_t" id="ot_real_t" value="<%= ot_real_t %>">
                <input type="hidden" class="form-control" name="ot_real_n" id="ot_real_n" value="<%= ot_real_n %>">

                <div class="form-group col-md-1.5">
                    <label for="fecha">FECHA</label>
                    <input type="date" class="form-control" name="fecha" id="fecha" value="<%= fecha %>" placeholder="Fecha del Gasto" >
                </div>
                <!--<div class="form-group col-md-6">
                    <label for="nro_ot">NRO OT <button type="button" class="btn btn-small" data-toggle="modal" data-target="#exampleModal">
                            ver OTs</button>
                    </label>
                    <input type="text" class="form-control" id="nro_ot" name="nro_ot">
                </div>-->
                <div class="form-group col-md-2">
                    <!--<label for="empleado">PERSONAL ASISPRO</label>-->
                    <button type="button" class="btn btn-xs" data-toggle="modal" data-target="#modal_rrhh">PERSONAL</button>
                    <input type="text" class="form-control" name="empleado" id="empleado" value="<%= empleado %>">
                </div>
                <div class="form-group col-md-2">
                    <label for="codigo">CODIGO</label>
                    <input type="text" class="form-control" name="codigo" id="codigo" value="<%= codigo %>">
                </div>
                <div class="form-group col-md-2">
                    <label for="cliente_plan_m">CLIENTE PLANIFICADO MAÑANA</label>-  
                    <button type="button" class="btn btn-xs" data-toggle="modal" data-target="#modal_ot_1">OTs</button>
                    <input type="text" class="form-control" name="cliente_plan_m" id="cliente_plan_m" value="<%= cliente_plan_m %>" placeholder="CLIENTE PLANIFICADO MAÑANA">
                </div>
                <div class="form-group col-md-2">
                    <label for="obra_plan_m">OBRA PLANIFICADA MAÑANA</label>
                    <input type="text" class="form-control" name="obra_plan_m" id="obra_plan_m" value="<%= obra_plan_m %>">
                </div>
                <div class="form-group col-md-2">
                    <label for="cliente_plan_t">CLIENTE PLANIFICADO TARDE</label>
                    <button type="button" class="btn btn-xs" data-toggle="modal" data-target="#modal_ot_2">OTs</button>
                    <input type="text" class="form-control" name="cliente_plan_t" id="cliente_plan_t" value="<%= cliente_plan_t %>" placeholder="CLIENTE PLANIFICADO TARDE">
                </div>
                <div class="form-group col-md-2">
                    <label for="obra_plan_t">OBRA PLANIFICADA TARDE</label>
                    <input type="text" class="form-control" name="obra_plan_t" id="obra_plan_t" value="<%= obra_plan_t %>">
                </div>
                <div class="form-group col-md-2">
                    <label for="cliente_real_m">CLIENTE REAL MAÑANA</label>
                    <button type="button" class="btn btn-small" data-toggle="modal" data-target="#modal_ot_3">OTs</button>
                    <input type="text" class="form-control" name="cliente_real_m" id="cliente_real_m" value="<%= cliente_real_m %>">
                </div>
                <div class="form-group col-md-2">
                    <label for="obra_real_m">OBRA REAL MAÑANA</label>
                    <input type="text" class="form-control" name="obra_real_m" id="obra_real_m" value="<%= obra_real_m %>">
                </div>
                <div class="form-group col-md-2">
                    <label for="h_entrada_m">HORARIO ENTRADA MAÑANA</label>
                    <input type="text" class="form-control" name="h_entrada_m" id="h_entrada_m" value="<%= h_entrada_m %>" placeholder="HORARIO ENTRADA MAÑANA">
                </div>
                <div class="form-group col-md-2">
                    <label for="h_salida_m">HORARIO SALIDA MAÑANA</label>
                    <input type="text" class="form-control" name="h_salida_m" id="h_salida_m" value="<%= h_salida_m %>" placeholder="HORARIO SALIDA MAÑANA">
                </div>
                <div class="form-group col-md-2">
                    <label for="encargado">ENCARGADO MAÑANA</label>
                    <input type="text" class="form-control" name="encargado" id="encargado" value="<%= encargado %>">
                </div>
                <div class="form-group col-md-2">
                    <label for="trato_cliente">TRATO C/ EL CLIENTE MAÑANA</label>
                    <input type="text" class="form-control" name="trato_cliente" id="trato_cliente" value="<%= trato_cliente %>">
                </div>
                <div class="form-group col-md-2">
                    <label for="cliente_real_t">CLIENTE REAL TARDE</label>
                    <button type="button" class="btn btn-small" data-toggle="modal" data-target="#modal_ot_4">OTs</button>
                    <input type="text" class="form-control" name="cliente_real_t" id="cliente_real_t" value="<%= cliente_real_t %>">
                </div>
                <div class="form-group col-md-2">
                    <label for="obra_real_t">OBRA REAL TARDE</label>
                    <input type="text" class="form-control" name="obra_real_t" id="obra_real_t" value="<%= obra_real_t %>">
                </div>
                <div class="form-group col-md-2">
                    <label for="h_entrada_m">HORARIO ENTRADA TARDE</label>
                    <input type="text" class="form-control" name="h_entrada_m" id="h_entrada_m" value="<%= h_entrada_m %>" placeholder="HORARIO ENTRADA MAÑANA">
                </div>
                <div class="form-group col-md-2">
                    <label for="h_salida_m">HORARIO SALIDA TARDE</label>
                    <input type="text" class="form-control" name="h_salida_m" id="h_salida_m" value="<%= h_salida_m %>" placeholder="HORARIO SALIDA MAÑANA">
                </div>
                <div class="form-group col-md-2">
                    <label for="encargado2">ENCARGADO T</label>
                    <input type="text" class="form-control" name="encargado2" id="encargado2" value="<%= encargado2 %>">
                </div>
                <div class="form-group col-md-2">
                    <label for="trato_cliente2">TRATO C/ EL CLIENTE T</label>
                    <input type="text" class="form-control" name="trato_cliente2" id="trato_cliente2" value="<%= trato_cliente2 %>">
                </div>
                <div class="form-group col-md-2">
                    <label for="cliente_real_n">CLIENTE REAL NOCHE</label>
                    <button type="button" class="btn btn-small" data-toggle="modal" data-target="#modal_ot_4">OTs</button>
                    <input type="text" class="form-control" name="cliente_real_t" id="cliente_real_t" value="<%= cliente_real_t %>">
                </div>
                <div class="form-group col-md-2">
                    <label for="obra_real_n">OBRA REAL NOCHE</label>
                    <input type="text" class="form-control" name="obra_real_t" id="obra_real_t" value="<%= obra_real_t %>">
                </div>
                <div class="form-group col-md-2">
                    <label for="h_entrada_n">HORARIO ENTRADA NOCHE</label>
                    <input type="text" class="form-control" name="h_entrada_n" id="h_entrada_n" value="<%= h_entrada_n %>" placeholder="HORARIO ENTRADA NOCHE">
                </div>
                <div class="form-group col-md-2">
                    <label for="h_salida_n">HORARIO SALIDA NOCHE</label>
                    <input type="text" class="form-control" name="h_salida_n" id="h_salida_n" value="<%= h_salida_n %>" placeholder="HORARIO SALIDA NOCHE">
                </div>
            </div>
            <button type="submit" name="Submit" value="Insertar" class="btn btn-primary">INSERTAR</button>
        </form>
    </div>
</nav>


<!-- MODAL de RECURSOS HUMANOS -->
<div class="modal fade" id="modal_rrhh" tabindex="-1" role="dialog" aria-labelledby="modal_rrhhLabel" aria-hidden="true">
    <div class="modal-dialog" width="100%" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal_rrhhLabel">Listado de Empleados</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="container-fluid" width="100%">
                    <table id="table_rrhh_mano" class="table-striped table-bordered table-sm" cellspacing="0" width="100%">
                            <thead style="background: rgb(137, 151, 212); border-left: 1px solid #EB8; border-right: 1px solid #B74;
                            border-top: 1px solid #EB8; font-weight: normal; padding: 4px 3px;">
                                <tr>
                                    <th>CODIGO</th>
                                    <th>NOMBRE</th>
                                    <th>TELEFONO</th>
                                    <th>OCUPACION</th>
                                    <th>ANTIGUEDAD</th>
                                    <th>MOTIVO</th>
                                    <th>FECHA NAC</th>
                                    <th>DIRECCION</th>
                                    <th>HIJOS</th>
                                    <th>EDAD</th>
                                    <th>TIPO</th>        
                                    <th>JORNAL</th>     
                                </tr>
                            </thead>
                        <tbody>
                        <% if(data_rrhh) { %>
                            <% data_rrhh.forEach(function(emple){ %>
                            <tr>
                                <td><%= emple.codigo %></td>
                                <td><%= emple.nombre %></td>
                                <td><%= emple.telefono %></td>
                                <td><%= emple.ocupacion %></td>
                                <td><%= formatear_fecha(emple.fecha_inicio) %></td>
                                <td><%= emple.motivo_salida %></td>
                                <td><%= formatear_fecha(emple.fecha_nac) %></td>
                                <td><%= emple.direccion %></td>
                                <td><%= emple.hijos %></td>
                                <td><%= emple.edad %></td>
                                <td><%= emple.tipo_empleado %></td>
                                <td><%= emple.jornal %></td>
                            </tr>
                            <% }) %>
                        <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="asignar_rrhh()">CERRAR</button>
            </div>
        </div>
    </div>
</div>


<!-- MODAL de OTs -->
<div class="modal fade" id="modal_ot_1" tabindex="-1" role="dialog" aria-labelledby="modal_ot_1Label" aria-hidden="true">
    <div class="modal-dialog" width="100%" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal_ot_1Label">Listado de OTs</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
        <div class="modal-body">

        <div class="container-fluid" width="100%">
            <table id="table_ot_plan_m_mano" class="table-striped table-bordered table-sm" cellspacing="0" width="100%">
                    <thead style="background: rgb(137, 151, 212); border-left: 1px solid #EB8; border-right: 1px solid #B74;
                    border-top: 1px solid #EB8; font-weight: normal; padding: 4px 3px;">
                        <tr>
                            <th>Nro OT</th>
                            <th>FECHA EMISION</th>
                            <th>F INI EJECUCION</th>
                            <th>F FIN EJECUCION</th>
                            <th>Nro FACTURA</th>
                            <th>Est FACTURA</th>
                            <th>Nro RECIBO</th>
                            <th>Nro REMISION</th>
                            <th>TIPO FACTURA</th>       
                            <th>CLIENTE</th>
                            <th>OBRA</th>
                            <th>DESCRIPCION</th>
                        </tr>
                    </thead>
                <tbody>
                <% if (data) { %>
                    <% data.forEach(function(ot){ %>
                    <tr id="<%= ot.ot_nro %>">
                        <td><%= ot.ot_nro %></td>
                        <td><%= formatear_fecha(ot.fec_emision) %></td>
                        <td><%= formatear_fecha(ot.fec_ini_ejecucion) %></td>
                        <td><%= formatear_fecha(ot.fec_fin_ejecucion) %></td>
                        <td><%= ot.fact_nro %></td>
                        <td><%= ot.fact_estado %></td>
                        <td><%= ot.recibo_nro %></td>
                        <td><%= ot.remision_nro %></td>
                        <td><%= ot.fact_tipo %></td>
                        <td><%= ot.cliente %></td>
                        <td><%= ot.obra %></td>
                        <td><%= ot.descripcion %></td>
                    </tr>
                    <% }) %>
                <% } %>
                </tbody>
            </table>
        </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="asignar_ot()">CERRAR</button>
        </div>
        </div>
    </div>
</div><!---->
<div class="modal fade" id="modal_ot_2" tabindex="-1" role="dialog" aria-labelledby="modal_ot_2Label" aria-hidden="true">
    <div class="modal-dialog" width="100%" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal_ot_2Label">Listado de OTs</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
        <div class="modal-body">

        <div class="container-fluid" width="100%">
            <table id="table_ot_plan_t_mano" class="table-striped table-bordered table-sm" cellspacing="0" width="100%">
                    <thead style="background: rgb(137, 151, 212); border-left: 1px solid #EB8; border-right: 1px solid #B74;
                    border-top: 1px solid #EB8; font-weight: normal; padding: 4px 3px;">
                        <tr>
                            <th>Nro OT</th>
                            <th>FECHA EMISION</th>
                            <th>F INI EJECUCION</th>
                            <th>F FIN EJECUCION</th>
                            <th>Nro FACTURA</th>
                            <th>Est FACTURA</th>
                            <th>Nro RECIBO</th>
                            <th>Nro REMISION</th>
                            <th>TIPO FACTURA</th>       
                            <th>CLIENTE</th>
                            <th>OBRA</th>
                            <th>DESCRIPCION</th>
                        </tr>
                    </thead>
                <tbody>
                <% if (data) { %>
                    <% data.forEach(function(ot){ %>
                    <tr id="<%= ot.ot_nro %>">
                        <td><%= ot.ot_nro %></td>
                        <td><%= formatear_fecha(ot.fec_emision) %></td>
                        <td><%= formatear_fecha(ot.fec_ini_ejecucion) %></td>
                        <td><%= formatear_fecha(ot.fec_fin_ejecucion) %></td>
                        <td><%= ot.fact_nro %></td>
                        <td><%= ot.fact_estado %></td>
                        <td><%= ot.recibo_nro %></td>
                        <td><%= ot.remision_nro %></td>
                        <td><%= ot.fact_tipo %></td>
                        <td><%= ot.cliente %></td>
                        <td><%= ot.obra %></td>
                        <td><%= ot.descripcion %></td>
                    </tr>
                    <% }) %>
                <% } %>
                </tbody>
            </table>
        </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="asignar_ot()">CERRAR</button>
        </div>
        </div>
    </div>
</div><!---->
<div class="modal fade" id="modal_ot_3" tabindex="-1" role="dialog" aria-labelledby="modal_ot_3Label" aria-hidden="true">
    <div class="modal-dialog" width="100%" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal_ot_3Label">Listado de OTs</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
        <div class="modal-body">

        <div class="container-fluid" width="100%">
            <table id="table_ot_real_m_mano" class="table-striped table-bordered table-sm" cellspacing="0" width="100%">
                    <thead style="background: rgb(137, 151, 212); border-left: 1px solid #EB8; border-right: 1px solid #B74;
                    border-top: 1px solid #EB8; font-weight: normal; padding: 4px 3px;">
                        <tr>
                            <th>Nro OT</th>
                            <th>FECHA EMISION</th>
                            <th>F INI EJECUCION</th>
                            <th>F FIN EJECUCION</th>
                            <th>Nro FACTURA</th>
                            <th>Est FACTURA</th>
                            <th>Nro RECIBO</th>
                            <th>Nro REMISION</th>
                            <th>TIPO FACTURA</th>       
                            <th>CLIENTE</th>
                            <th>OBRA</th>
                            <th>DESCRIPCION</th>
                        </tr>
                    </thead>
                <tbody>
                <% if (data) { %>
                    <% data.forEach(function(ot){ %>
                    <tr id="<%= ot.ot_nro %>">
                        <td><%= ot.ot_nro %></td>
                        <td><%= formatear_fecha(ot.fec_emision) %></td>
                        <td><%= formatear_fecha(ot.fec_ini_ejecucion) %></td>
                        <td><%= formatear_fecha(ot.fec_fin_ejecucion) %></td>
                        <td><%= ot.fact_nro %></td>
                        <td><%= ot.fact_estado %></td>
                        <td><%= ot.recibo_nro %></td>
                        <td><%= ot.remision_nro %></td>
                        <td><%= ot.fact_tipo %></td>
                        <td><%= ot.cliente %></td>
                        <td><%= ot.obra %></td>
                        <td><%= ot.descripcion %></td>
                    </tr>
                    <% }) %>
                <% } %>
                </tbody>
            </table>
        </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="asignar_ot()">CERRAR</button>
        </div>
        </div>
    </div>
</div><!---->
<div class="modal fade" id="modal_ot_4" tabindex="-1" role="dialog" aria-labelledby="modal_ot_4Label" aria-hidden="true">
    <div class="modal-dialog" width="100%" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal_ot_4Label">Listado de OTs</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
        <div class="modal-body">

        <div class="container-fluid" width="100%">
            <table id="table_ot_real_t_mano" class="table-striped table-bordered table-sm" cellspacing="0" width="100%">
                    <thead style="background: rgb(137, 151, 212); border-left: 1px solid #EB8; border-right: 1px solid #B74;
                    border-top: 1px solid #EB8; font-weight: normal; padding: 4px 3px;">
                        <tr>
                            <th>Nro OT</th>
                            <th>FECHA EMISION</th>
                            <th>F INI EJECUCION</th>
                            <th>F FIN EJECUCION</th>
                            <th>Nro FACTURA</th>
                            <th>Est FACTURA</th>
                            <th>Nro RECIBO</th>
                            <th>Nro REMISION</th>
                            <th>TIPO FACTURA</th>       
                            <th>CLIENTE</th>
                            <th>OBRA</th>
                            <th>DESCRIPCION</th>
                        </tr>
                    </thead>
                <tbody>
                <% if (data) { %>
                    <% data.forEach(function(ot){ %>
                    <tr id="<%= ot.ot_nro %>">
                        <td><%= ot.ot_nro %></td>
                        <td><%= formatear_fecha(ot.fec_emision) %></td>
                        <td><%= formatear_fecha(ot.fec_ini_ejecucion) %></td>
                        <td><%= formatear_fecha(ot.fec_fin_ejecucion) %></td>
                        <td><%= ot.fact_nro %></td>
                        <td><%= ot.fact_estado %></td>
                        <td><%= ot.recibo_nro %></td>
                        <td><%= ot.remision_nro %></td>
                        <td><%= ot.fact_tipo %></td>
                        <td><%= ot.cliente %></td>
                        <td><%= ot.obra %></td>
                        <td><%= ot.descripcion %></td>
                    </tr>
                    <% }) %>
                <% } %>
                </tbody>
            </table>
        </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="asignar_ot()">CERRAR</button>
        </div>
        </div>
    </div>
</div><!---->

<!-- BOTONES DE EXPORTACION -->
<nav class="navbar navbar-expand-lg navbar-light bg-strong">
    <div class="container-fluid">

    </div>
</nav>
<!--
including footer content which is common for all pages
-->
<%- include ../layouts/footer.ejs %>