<!--
including header content which is common for all pages
-->

<%- include ../layouts/header.ejs %>
 
<% if (messages.error) { %>
    <p style="color:red"><%- messages.error %></p>
<% } %>
 
<% if (messages.success) { %>
    <p style="color:green"><%- messages.success %></p>
<% } %>    

<%
function formatear_fecha(date) {
    var d = new Date(date),
        month = '' + (d.getMonth() + 1),
        day = '' + d.getDate(),
        year = d.getFullYear();

    if (month.length < 2) month = '0' + month;
    if (day.length < 2) day = '0' + day;
    
    if(month == 12 && day == 31 && year == 1969)
    { return "-";}
    else
    {return [day,month,year].join('/');}//retornamos valor como a mysql le gusta
}
%>

<script>
$(document).ready( function() {
    $('#dtBasicExample').DataTable( {
        "scrollY":        "20px",
        "scrollCollapse": true,
        "paging":         false
    } );
    $('#tablex').DataTable( {
        "scrollY":        "200px",
        "scrollCollapse": true,
        "paging":         false
    } );
});

</script>

<style>
.table-fixed tbody {
height: 400px;
overflow-y: auto;
width: 100%;
}
.table-fixed thead,
.table-fixed tbody,
.table-fixed tr,
.table-fixed td,
.table-fixed th {
display: block;
}
.table-fixed tr:after {
content: "";
display: block;
visibility: hidden;
clear: both;
}
.table-fixed tbody td,
.table-fixed thead > tr > th {
float: left;
}
.table > thead > tr > th,
.table > thead > tr > td {
font-size: .9em;
font-weight: 400;
border-bottom: 0;
letter-spacing: 1px;
vertical-align: top;
padding: 8px;
background: #51596a;
text-transform: uppercase;
color: #ffffff;
}
</style>


<!-- FORMA VIEJA -->


<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background:#000000;">
    <div class="container-fluid">   
        <div class="container-fluid" width="100%">
            <table id="tablex" class="table-striped table-bordered table-sm" cellspacing="0" width="100%">
                    <thead style="background: rgb(137, 151, 212); border-left: 1px solid #EB8; border-right: 1px solid #B74;
                    border-top: 1px solid #EB8; font-weight: normal; padding: 4px 3px;">
                <tr>
                    <th>FECHA</th>
                    <th>EMPLEADO</th>
                    <th>CLIENTE REAL MAÑANA</th>
                    <th>OBRA REAL MAÑANA</th>
                    <th>ENCARGADO MAÑANA</th>
                    <th>TRATO CLIENTE MAÑANA</th>
                    <th>CLIENTE REAL TARDE</th>
                    <th>OBRA REAL TARDE</th>
                    <th>ENCARGADO TARDE</th>
                    <th>TRATO CLIENTE TARDE</th>
                    <th>ACCIONES</th>
                </tr>
            </thead>
        <tbody>
        <% if (data) { %>
        <% data.forEach(function(mano){ %>
            <tr>
                <td><%= formatear_fecha(mano.fecha) %></td>
                <td><%= mano.empleado %></td>
                <td><%= mano.cliente_real_m %></td>
                <td><%= mano.obra_real_m %></td>
                <td><%= mano.encargado %></td>
                <td><%= mano.trato_cliente %></td>
                <td><%= mano.cliente_real_t %></td>
                <td><%= mano.obra_real_t %></td>
                <td><%= mano.encargado2 %></td>
                <td><%= mano.trato_cliente2 %></td>
                <td>
                    <div>
                        <a href='/mano/editar/<%= mano.id %>'>Ver</a> &nbsp;                            
                        <form method="post" action="/mano/eliminar/<%= mano.id %>" style="float:right">
                            <input type="submit" name="delete" value='Delete' onClick="return confirm('Seguro que desea borrar la factura?')" />
                            <input type="hidden" name="_method" value="DELETE" />
                        </form>
                    </div>
                </td>
            </tr>
            <% }) %>
            <% } %>
        </tbody>
    </table>
</div>
</div>
</nav>
<!---->

<!-- BOTONES DE EXPORTACION -->
<nav class="navbar navbar-expand-lg navbar-light bg-strong">
    <div class="container-fluid">
            <form action="/mano/descargar" method="POST" name="form">
                <button type="submit" id="submit" class="btn btn-info">
                    <i class="fas fa-share"></i>
                </button>
            </form>
    </div>
</nav>
<!--
including footer content which is common for all pages
-->
<%- include ../layouts/footer.ejs %>