<!--
including header content which is common for all pages
-->
<%- include ../layouts/header.ejs %>    
 
<% if (messages.error) { %>
    <p style="color:red"><%- messages.error %></p>
<% } %>
 
<% if (messages.success) { %>
    <p style="color:green"><%- messages.success %></p>
<% } %>
 

<!-- ESTILO PARA DATEPICKER -->
<style>
[type="date"] {
  background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;
}
[type="date"]::-webkit-inner-spin-button {
  display: none;
}
[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

/* custom styles */
body {
  background: #e5e5e5;
  font: 13px/1.4 Geneva, 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}
label {
  display: block;
}
input {
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  background-color: #fff;
  padding: 3px 5px;
  box-shadow: inset 0 3px 6px rgba(0,0,0,0.1);
  width: 190px;
}
</style>
<!-- NAV PARA TITULO -->
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background:#000000;">
    <div class="container-fluid">
        <h3>Carga de Orden de Trabajo</h3>
    </div>
</nav>

<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background:#000000;">
    <div class="container-fluid">

        <form action="/ot/add" method="post" name="form1">
            <div class="form-row">


                <!-- agregamos el ID DEL CLIENTE para guardar en la tabla-->
                <input type="hidden" class="form-control" name="id_cliente" id="id_cliente" value="<%= id_cliente %>">

                <div class="form-group col-md-6">
                    <label for="ot_nro">OT Nro.</label>
                    <input type="text" class="form-control" name="ot_nro" id="ot_nro" value="<%= ot_nro %>" placeholder="Número de Orden de Trabajo" readonly=true>
                </div>
                <div class="form-group col-md-6">
                    <label for="fec_emision">FECHA EMISION</label>
                    <input type="date" class="form-control" name="fec_emision" id="fec_emision" value="<%= fec_emision %>" placeholder="Fecha de Emisión">
                </div>
                <div class="form-group col-md-6">
                    <label for="fec_ini_ejecucion">FECHA INICIO EJECUCION</label>
                    <input type="date" class="form-control" name="fec_ini_ejecucion" id="fec_ini_ejecucion" value="<%= fec_ini_ejecucion %>" placeholder="Fecha de inicio de ejecución">
                </div>
                <div class="form-group col-md-6">
                    <label for="fec_fin_ejecucion">FECHA FIN EJECUCION</label>
                    <input type="date" class="form-control" name="fec_fin_ejecucion" id="fec_fin_ejecucion" value="<%= fec_fin_ejecucion %>" placeholder="Fecha de fin de ejecución">
                </div>
                <div class="form-group col-md-6">
                    <label for="fact_nro">FACTURA Nro</label>
                    <input type="text" class="form-control" name="fact_nro" id="fact_nro" value="<%= fact_nro %>" placeholder="Número de Factura">
                </div>
                <div class="form-group col-md-6">
                    <label for="fact_estado">FACTURA ESTADO</label>
                    <select class="form-control" name="fact_estado" id="fact_estado" value="<%= fact_estado %>" placeholder="Estado Factura">
                        <option value="NO_FACTURADO">NO FACTURADO</option>
                        <option value="SIN_FACTURA">SIN FACTURA</option>
                        <option value="NO_FACTURAR">NO FACTURAR</option>
                        <option value="CON_RECIBO">CON RECIBO</option>
                        <option value="SIN_RECIBO">SIN RECIBO</option>
                        <option value="CON_REMISION">CON REMISION</option>
                        <option value="SIN_REMISION">SIN REMISION</option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label for="recibo_nro">RECIBO Nro</label>
                    <input type="text" class="form-control" name="recibo_nro" id="recibo_nro" value="<%= recibo_nro %>" placeholder="Número de Recibo">
                </div>
                <div class="form-group col-md-6">
                    <label for="remision_nro">REMISION Nro</label>
                    <input type="text" class="form-control" name="remision_nro" id="remision_nro" value="<%= remision_nro %>" placeholder="Número de Remisión">
                </div>
                <div class="form-group col-md-6">
                    <label for="fact_tipo">FACTURA TIPO</label>
                    <select class="form-control" name="fact_tipo" id="fact_tipo" value="<%= fact_tipo %>" placeholder="Tipo Factura">
                        <option value="CONTADO">CONTADO</option>
                        <option value="CREDITO">CREDITO</option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <!--<label for="cliente">CLIENTE </label>-->
                    <!-- boton para mostrar el modal -->
                    <button type="button" class="btn btn-small" data-toggle="modal" data-target="#modal_clientes_ingresos">Seleccionar Cliente</button>
                    <input type="text" class="form-control" name="cliente" id="cliente" value="<%= cliente %>" placeholder="Nombre Cliente">
                </div>
                <div class="form-group col-md-6">
                    <label for="obra">OBRA</label>
                    <input type="text" class="form-control" name="obra" id="obra" value="<%= obra %>" placeholder="Obra">
                </div>
                <div class="form-group col-md-6">
                    <label for="descripcion">DESCRIPCION</label>
                    <input type="text" class="form-control" name="descripcion" id="descripcion" value="<%= descripcion %>" placeholder="Descripción del trabajo a realizar">
                </div>
                <div class="form-group col-md-6">
                    <label for="encargado">ENCARGADO</label>
                    <input type="text" class="form-control" name="encargado" id="encargado" value="<%= encargado %>" placeholder="Encargado del trabajo a realizar">
                </div>
                <div class="form-group col-md-6">
                    <label for="trato_cliente">TRATO C/ CLIENTE</label>
                    <input type="text" class="form-control" name="trato_cliente" id="trato_cliente" value="<%= trato_cliente %>" placeholder="Trato c/ cliente">
                </div>
            </div>
            <button type="submit" name="Submit" value="Insertar" class="btn btn-primary">INSERTAR</button>
        </form>
    </div>
</nav>

<!-- reutilizamos el modal de seleccion de clientes que tenemos en ingresos--> 
<div class="modal fade" id="modal_clientes_ingresos" tabindex="-1" role="dialog" aria-labelledby="modal_clientes_ingresosLabel" aria-hidden="true">
    <div class="modal-dialog" width="100%" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="modal_clientes_ingresosLabel">Listado de OTs</h5>
        </div>
        <div class="modal-body">
            <!-- ACA PONEMOS LA TABLA QUE DEBE SER COMO /LISTAR -->

            <div class="container-fluid" width="100%">
                    <table id="table_modal_clientes_ingresos" class="table-striped table-bordered table-sm" cellspacing="0" width="100%">
                            <thead style="background: rgb(137, 151, 212); border-left: 1px solid #EB8; border-right: 1px solid #B74;
                            border-top: 1px solid #EB8; font-weight: normal; padding: 4px 3px;">
                                <tr>
                                    <th>ID</th>
                                    <th>NOMBRE</th>
                                    <th>RUC</th> 
                                </tr>
                            </thead>
                        <tbody>
                        <% if (data_clientes) { %>
                            <% data_clientes.forEach(function(cli){ %>
                            <tr>
                                <td><%= cli.id %></td>
                                <td><%= cli.nombre %></td>
                                <td><%= cli.ruc %></td>
                            </tr>
                            <% }) %>
                        <% } %>
                        </tbody>
                    </table>
                </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">CERRAR</button>
            <!--<button type="button" class="btn btn-primary">Save changes</button>-->
        </div>
        </div>
    </div>
</div>



<!-- Modal insercion CLIENTE -->
<div class="modal fade" id="modal_cliente" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">Insertar Cliente</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <form action="/cliente/add" method="post" name="form1">
            <div class="modal-body">
                <div class="form-group col-md-6">
                    <label for="nombre">Nombre Cliente</label>
                    <input type="text" class="form-control" name="nombre" id="nombre" placeholder="Nombre">
                </div>
                <div class="form-group col-md-6">
                    <label for="ruc">RUC CLIENTE</label>
                    <input type="text" class="form-control" name="ruc" id="ruc" placeholder="RUC">
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Guardar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </form>
        </div>
    </div>
</div>

<!-- BOTONES DE EXPORTACION -->
<nav class="navbar navbar-expand-lg navbar-light bg-strong">
    <div class="container-fluid">

    </div>
</nav>
<!--
including footer content which is common for all pages
-->
<%- include ../layouts/footer.ejs %>