<!--
including header content which is common for all pages
-->
<%- include ../layouts/header.ejs %>    
 
<% if (messages.error) { %>
    <p style="color:red"><%- messages.error %></p>
<% } %>
 
<% if (messages.success) { %>
    <p style="color:green"><%- messages.success %></p>
<% } %>
 
<form action="/ot/add" method="post" name="form1">
    <table width="25%" border="0">
        <tr> 
            <td>NRO OT</td>
            <td><input type="text" name="ot_nro" id="ot_nro" value="<%= ot_nro %>" /></td>
        </tr>
        <tr> 
            <td>FECHA EMISION</td>
            <td><input type="text" name="fec_emision" id="fec_emision" value="<%= fec_emision %>" /></td>
        </tr>
        <tr> 
            <td>FECHA INICIO EJECUCION</td>
            <td><input type="text" name="fec_ini_ejecucion" id="fec_ini_ejecucion" value="<%= fec_ini_ejecucion %>" /></td>
        </tr>
        <tr> 
            <td>FECHA FIN EJECUCION</td>
            <td><input type="text" name="fec_fin_ejecucion" id="fec_fin_ejecucion" value="<%= fec_fin_ejecucion %>" /></td>
        </tr>
        <tr> 
            <td>NRO FACTURA</td>
            <td><input type="text" name="fact_nro" id="fact_nro" value="<%= fact_nro %>" /></td>
        </tr>
        <tr> 
            <td>NRO RECIBO</td>
            <td><input type="text" name="recibo_nro" id="recibo_nro" value="<%= recibo_nro %>" /></td>
        </tr>
        <tr> 
            <td>NRO REMISION</td>
            <td><input type="text" name="remision_nro"id="remision_nro" value="<%= remision_nro %>" /></td>
        </tr>
        <tr> 
            <td>TIPO FACTURA</td>
            <td><input type="text" name="fact_tipo" id="fact_tipo" value="<%= fact_tipo %>" /></td>
        </tr>
        <tr> 
            <td>CLIENTE</td>
            <td><input type="text" name="cliente" id="cliente" value="<%= cliente %>" /></td>
        </tr>
        <tr> 
            <td>OBRA</td>
            <td><input type="text" name="obra" id="obra" value="<%= obra %>" /></td>
        </tr>
        <tr> 
            <td></td>
            <td><input type="submit" name="Submit" value="Insertar" /></td>
        </tr>
        
    </table>
</form>
 
<!--
including footer content which is common for all pages
-->
<%- include ../layouts/footer.ejs %>