<!--
including header content which is common for all pages
-->
<%- include ../layouts/header.ejs %>    
        
<% if (messages.error) { %>
    <p style="color:red"><%- messages.error %></p>
<% } %>
 
<% if (messages.success) { %>
    <p style="color:green"><%- messages.success %></p>
<% } %>
 
<%
function formatear_fecha_yyyymmdd(date) {
    var d = new Date(date),
        month = '' + (d.getMonth() + 1),
        day = '' + d.getDate(),
        year = d.getFullYear();

    if (month.length < 2) month = '0' + month;
    if (day.length < 2) day = '0' + day;

    return [year, month, day].join('-');//retornamos valor como a mysql le gusta
} 
%>
<!-- ESTILO PARA DATEPICKER -->
<style>
    [type="date"] {
      background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;
    }
    [type="date"]::-webkit-inner-spin-button {
      display: none;
    }
    [type="date"]::-webkit-calendar-picker-indicator {
      opacity: 0;
    }
    
    /* custom styles */
    body {
      background: #e5e5e5;
      font: 13px/1.4 Geneva, 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    }
    label {
      display: block;
    }
    input {
      border: 1px solid #c4c4c4;
      border-radius: 5px;
      background-color: #fff;
      padding: 3px 5px;
      box-shadow: inset 0 3px 6px rgba(0,0,0,0.1);
      width: 190px;
    }
</style>

<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background:#000000;">
    <div class="container-fluid">
        
        <form action="/ot/editar/<%= id %>" method="post" name="form1">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="ot_nro">OT Nro.</label>
                    <input type="text" class="form-control" name="ot_nro" id="ot_nro" value="<%= ot_nro %>" placeholder="Número de Orden de Trabajo">
                </div>
                <div class="form-group col-md-6">
                    <label for="fec_emision">FECHA EMISION</label>
                    <input type="date" class="form-control" name="fec_emision" id="fec_emision" value="<%= formatear_fecha_yyyymmdd(fec_emision) %>" placeholder="Fecha de Emisión">
                </div>
                <div class="form-group col-md-6">
                    <label for="fec_ini_ejecucion">FECHA INICIO EJECUCION</label>
                    <input type="date" class="form-control" name="fec_ini_ejecucion" id="fec_ini_ejecucion" value="<%= formatear_fecha_yyyymmdd(fec_ini_ejecucion) %>" placeholder="Fecha de inicio de ejecución">
                </div>
                <div class="form-group col-md-6">
                    <label for="fec_fin_ejecucion">FECHA FIN EJECUCION</label>
                    <input type="date" class="form-control" name="fec_fin_ejecucion" id="fec_fin_ejecucion" value="<%= formatear_fecha_yyyymmdd(fec_fin_ejecucion) %>" placeholder="Fecha de fin de ejecución">
                </div>
                <div class="form-group col-md-6">
                    <label for="fact_nro">FACTURA Nro</label>
                    <input type="text" class="form-control" name="fact_nro" id="fact_nro" value="<%= fact_nro %>" placeholder="Número de Factura">
                </div>
                <div class="form-group col-md-6">
                    <label for="recibo_nro">RECIBO Nro</label>
                    <input type="text" class="form-control" name="recibo_nro" id="recibo_nro" value="<%= recibo_nro %>" placeholder="Número de Recibo">
                </div>
                <div class="form-group col-md-6">
                    <label for="remision_nro">REMISION Nro</label>
                    <input type="text" class="form-control" name="remision_nro" id="remision_nro" value="<%= remision_nro %>" placeholder="Número de Remisión">
                </div>
                <div class="form-group col-md-6">
                    <label for="fact_tipo">FACTURA TIPO</label>
                    <input type="text" class="form-control" name="fact_tipo" id="fact_tipo" value="<%= fact_tipo %>" placeholder="Tipo Factura">
                </div>
                <div class="form-group col-md-6">
                    <label for="cliente">CLIENTE</label>
                    <input type="text" class="form-control" name="cliente" id="cliente" value="<%= cliente %>" placeholder="Nombre Cliente">
                </div>
                <div class="form-group col-md-6">
                    <label for="obra">OBRA</label>
                    <input type="text" class="form-control" name="obra" id="obra" value="<%= obra %>" placeholder="Obra">
                </div>
                <button type="submit" name="Submit" value="Actualizar" class="btn btn-primary">ACTUALIZAR</button>
            </div>
            <!-- <input type="hidden" name="_method" value="POST" />  no se por que esta aca-->
        </form>
        
    </div>
</nav>

<!-- BOTONES DE EXPORTACION -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">

    </div>
</nav>

<!--
including footer content which is common for all pages
-->
<%- include ../layouts/footer.ejs %>