<!-- including header content which is common for all pages  -->
<%- include ../layouts/header.ejs %>   
 
<% if (messages.error) { %>
    <p style="color:red"><%- messages.error %></p>
<% } %>
 
<% if (messages.success) { %>
    <p style="color:green"><%- messages.success %></p>
<% } %>
 
<!-- funcion para arreglar el formato de las fechas en este caso usamos para el listado de OTs -->
<%
function formatear_fecha(date) {
    var d = new Date(date),
        month = '' + (d.getMonth() + 1),
        day = '' + d.getDate(),
        year = d.getFullYear();

    if (month.length < 2) month = '0' + month;
    if (day.length < 2) day = '0' + day;
    
    if(month == 12 && day == 31 && year == 1969)
    { return "-";}
    else
    {return [day,month,year].join('/');}//retornamos valor como a mysql le gusta
}
%>

<script type="text/javascript"> 

function cal_monto(){
    var mon = Number((document.getElementById('jornal').value.replace(",",".")));
    mon = mon * (8);
    //alert(h1); //debug
    document.getElementById("monto").value = mon.toString().replace(".",","); //duplicamos el item
}

function cal_subtotal(){
    var monto = Number((document.getElementById('monto').value.replace(",",".")));
    var val_dia = Number((document.getElementById('dia').value.replace(",",".")));
    var subtot = monto * val_dia;
    //alert(h1); //debug
    document.getElementById("subtotal").value = subtot.toString().replace(".",","); //duplicamos el item
}

function cal_plus(){
    var jornal = Number((document.getElementById('jornal').value.replace(",",".")));
    var h_50 = Number((document.getElementById('hora_50').value.replace(",",".")));
    var h_100 = Number((document.getElementById('hora_100').value.replace(",",".")));
    var h_neg = Number((document.getElementById('hora_neg').value.replace(",",".")));
    var h_normal = Number((document.getElementById('hora_normal').value.replace(",",".")));

    var plus = ((jornal*h_50*(1.5)) + (jornal*h_100*(2) + (jornal*h_normal)) - (jornal*h_neg*(2)));
    //alert(h1); //debug
    document.getElementById("plus").value = plus.toString().replace(".",","); //duplicamos el item
}

function dup_h_neg(){
    var h1 = Number((document.getElementById('hora_neg').value.replace(",",".")));
    h1 = h1 * (1.5);
    //alert(h1); //debug
    document.getElementById("hora_neg").value = h1.toString().replace(".",","); //duplicamos el item
}
function dup_h_50(){
    var h2 = Number((document.getElementById('hora_50').value.replace(",",".")));
    h2 = h2 *(1.5);
    //alert(h2); //debug
    document.getElementById("hora_50").value = h2.toString().replace(".",","); //duplicamos el item
}
function dup_h_100(){
    var h3 = Number((document.getElementById('hora_100').value.replace(",",".")));
    h3 =(h3 * 2);
    //alert(h3); //debug
    document.getElementById("hora_100").value = h3.toString().replace(".",","); //duplicamos el item
}
function hoy()
{   var today = new Date();
    var dd = today.getDate();
    var mm = today.getMonth() + 1; //January is 0!

    var yyyy = today.getFullYear();
    if (dd < 10) { dd = '0' + dd; } 
    if (mm < 10) { mm = '0' + mm; } 
    var today = yyyy + '-' + mm + '-' + dd;
    return today;
}
</script>

<!-- ESTILO PARA DATEPICKER -->
<style>
    [type="date"] {
    background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;
    }
    [type="date"]::-webkit-inner-spin-button {
    display: none;
    }
    [type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
    }
    /* custom styles */
    body {
    background: #e5e5e5;
    font: 13px/1.4 Geneva, 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    }
    label {
    display: block;
    }
    input {
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    background-color: #fff;
    padding: 3px 5px;
    box-shadow: inset 0 3px 6px rgba(0,0,0,0.1);
    width: 190px;
    }

    body .modal-dialog { /* Width */
        max-width: 80%;
        width: auto !important;
    }
</style>


<!-- NAV PARA TITULO -->
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background:#000000;">
    <div class="container-fluid">
        <h3>MANO DE OBRA</h3>
    </div>
</nav>

<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background:#000000;">
    <div class="container-fluid">
        <form action="/manoobra/editar/<%= id %>" method="post" name="form1">
            <div class="form-row">

                <!-- 
                    VALORES CALCULADOS desde consulta -- utilizamos para calcular luego n los campos
                -->
                <input type="hidden" class="form-control" name="por_m" id="por_m" value="<%= por_m %>">
                <input type="hidden" class="form-control" name="por_t" id="por_t" value="<%= por_t %>">
                <input type="hidden" class="form-control" name="dia" id="dia" value="<%= dia %>">

                <div class="form-group col-md-1.5">
                    <label for="fecha">FECHA</label>
                    <!--<input type="date" class="form-control" name="fecha" id="fecha" value="<%= fecha %>" placeholder="Fecha del Gasto" onclick="ready()">-->
                    <input type="date" class="form-control" name="fecha" id="fecha" value="<%= fecha %>" placeholder="Fecha del Gasto" readonly="true">
                </div>
                <div class="form-group col-md-2">
                    <!--<label for="empleado">PERSONAL ASISPRO</label>-->
                    <!--<button type="button" class="btn btn-xs" data-toggle="modal" data-target="#modal_rrhh">PERSONAL</button>-->
                    <label for="codigo">PERSONAL</label>
                    <input type="text" class="form-control" name="empleado" id="empleado" value="<%= empleado %>" readonly="true">
                </div>
                <div class="form-group col-md-2">
                    <label for="cliente_real_m">CLIENTE MAÑANA</label>
                    <input type="text" class="form-control" name="cliente_real_m" id="cliente_real_m" value="<%= cliente_real_m %>" readonly="true">
                </div>

                <div class="form-group col-md-2">
                    <label for="cliente_real_t">CLIENTE TARDE</label>
                    <input type="text" class="form-control" name="cliente_real_t" id="cliente_real_t" value="<%= cliente_real_t %>" readonly="true">
                </div>
                <div class="form-group col-md-2">
                    <label for="monto">MONTO</label>
                    <input type="text" class="form-control" name="monto" id="monto" value="<%= monto %>" onclick="cal_monto()">
                </div>
                <div class="form-group col-md-2">
                    <label for="monto">SUBTOTAL</label>
                    <input type="text" class="form-control" name="subtotal" id="subtotal" value="<%= subtotal %>" onclick="cal_subtotal()">
                </div>
                <div class="form-group col-md-2">
                    <label for="monto">PLUS</label>
                    <input type="text" class="form-control" name="plus" id="plus" value="<%= plus %>" onclick="cal_plus()">
                </div>
                <div class="form-group col-md-2">
                    <label for="hora_normal">HORA NORMAL</label>
                    <input type="text" class="form-control" name="hora_normal" id="hora_normal" value="<%= hora_normal %>">
                </div>
                <div class="form-group col-md-2">
                    <label for="hora_50">HORA 50</label>
                    <input type="text" class="form-control" name="hora_50" id="hora_50" value="<%= hora_50 %>">
                </div>
                <div class="form-group col-md-2">
                    <label for="hora_100">HORA 100</label>
                    <input type="text" class="form-control" name="hora_100" id="hora_100" value="<%= hora_100 %>">
                </div>
                <div class="form-group col-md-2">
                    <label for="hora_neg">HORA NEGATIVA</label>
                    <input type="text" class="form-control" name="hora_neg" id="hora_neg" value="<%= hora_neg %>">
                </div>
                <div class="form-group col-md-2">
                    <label for="pasaje">PASAJE</label>
                    <input type="text" class="form-control" name="pasaje" id="pasaje" value="<%= pasaje %>">
                </div>
                <div class="form-group col-md-2">
                    <label for="pasaje">JORNAL</label>
                    <input type="text" class="form-control" name="jornal" id="jornal" value="<%= jornal %>">
                </div>
            </div>
            <button type="submit" name="Submit" value="Insertar" class="btn btn-primary">ACTUALIZAR</button>
        </form>
    </div>
</nav>


<!-- BOTONES DE EXPORTACION -->
<nav class="navbar navbar-expand-lg navbar-light bg-strong">
    <div class="container-fluid">

    </div>
</nav>
<!--
including footer content which is common for all pages
-->
<%- include ../layouts/footer.ejs %>