<!-- including header content which is common for all pages -->
<%- include ../layouts/header.ejs %>    
 
<% if (messages.error) { %>
    <p style="color:red"><%- messages.error %></p>
<% } %>
 
<% if (messages.success) { %>
    <p style="color:green"><%- messages.success %></p>
<% } %>
 

<!-- funcion para arreglar el formato de las fechas en este caso usamos para el listado de OTs -->
<%
function formatear_fecha(date) {
    var d = new Date(date),
        month = '' + (d.getMonth() + 1),
        day = '' + d.getDate(),
        year = d.getFullYear();

    if (month.length < 2) month = '0' + month;
    if (day.length < 2) day = '0' + day;
    
    if(month == 12 && day == 31 && year == 1969)
    { return "-";}
    else
    {return [day,month,year].join('/');}//retornamos valor como a mysql le gusta
}
%>


<!-- ESTILO PARA DATEPICKER -->
<style>
[type="date"] {
  background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;
}
[type="date"]::-webkit-inner-spin-button {
  display: none;
}
[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}
/* custom styles */
body {
  background: #e5e5e5;
  font: 13px/1.4 Geneva, 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}
label {
  display: block;
}
input {
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  background-color: #fff;
  padding: 3px 5px;
  box-shadow: inset 0 3px 6px rgba(0,0,0,0.1);
  width: 190px;
}
</style>

<script>
    function cal_iva(){
        var val = String(document.getElementById("calcu_iva").value);
        if(val == "IVA_10"){
            document.getElementById("iva").value = Math.round((document.getElementById('monto').value /11)*100) /100; //iva 10% incluido
            document.getElementById("mon_s_iva").value = (Math.round(document.getElementById('monto').value) - Math.round((document.getElementById('monto').value /11)*100) /100);
        }
        if(val == "IVA_5"){
            document.getElementById("iva").value = Math.round((document.getElementById('monto').value *5/105)*100) /100; //iva 5% incluido
            document.getElementById("mon_s_iva").value = (Math.round(document.getElementById('monto').value) - Math.round((document.getElementById('monto').value *5/105)*100) /100);
        }
    }

    function cal_ret(){
        var val = String(document.getElementById("calcu_ret").value);
        if(val == "RET_30"){
            document.getElementById("retencion").value = Math.round((document.getElementById('iva').value *30/100)*100) /100; //ret 30% incluido
        }
        if(val == "RET_70"){
            document.getElementById("retencion").value = Math.round((document.getElementById('iva').value *70/100)*100) /100; //ret 70% incluido
        }
        if(val == "RET_100"){
            document.getElementById("retencion").value = Math.round((document.getElementById('iva').value *1)*100) /100; //ret 100% incluido
        }
    }

    function cal_monto(){
        var tipo_fact = String(document.getElementById("fact_condicion").value);
        //alert(tipo_fact);
        if(tipo_fact == 'CONTADO'){
            document.getElementById("total_facturado").value = document.getElementById("monto").value; //
        }
        if(tipo_fact == 'CREDITO'){
            document.getElementById("monto").value = 0;
            //document.getElementById('total_facturado').value; //directo a monto
        }
        if(tipo_fact == 'RECIBO'){
            document.getElementById("mon_s_iva").value = 0;
            document.getElementById("iva").value = 0
            document.getElementById("total_facturado").value = 0;
            //document.getElementById('total_facturado').value; //directo a monto
        }
    }
</script>


<!-- NAV PARA TITULO -->
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background:#000000;">
    <div class="container-fluid">
        <h3>Carga de INGRESOS</h3>
    </div>
</nav>

<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background:#000000;">
    <div class="container-fluid">
        <form action="/ingresos/add" method="post" name="form1">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="fecha">FECHA</label>
                    <input type="date" class="form-control" name="fecha" id="fecha" value="<%= fecha %>" placeholder="Fecha Ingreso" >
                </div>
                <div class="form-group col-md-6">
                    <label for="cliente">CLIENTE</label>
                    <input type="text" class="form-control" id="cliente" name="cliente" value="<%= cliente %>">
                    <!--<datalist id="lista_cli">
                        <% /*if (data) { %>
                            <% data.forEach(function(fila_cli){ %>
                                <option value="<%= fila_cli %>"><%= fila_cli %></option>
                            <% }) %>
                        <% }*/ %>
                    </datalist> -->
                </div>
                <div class="form-group col-md-6">
                    <label for="obra">OBRA</label>
                    <input type="text" class="form-control" name="obra" id="obra" value="<%= obra %>" placeholder="Obra Descripcion">
                </div>
                <div class="form-group col-md-6">
                    <label for="pago">PAGO</label>
                    <input type="text" class="form-control" name="pago" id="pago" value="<%= pago %>" placeholder="Pago">
                </div>
                <div class="form-group col-md-6">
                    <label for="nro_ot">NRO OT <button type="button" class="btn btn-small" data-toggle="modal" data-target="#modal_ot_ingresos">
                            ver OTs</button>
                    </label>
                    <input type="text" class="form-control" id="nro_ot" name="nro_ot">
                </div>

                <div class="form-group col-md-6">
                    <label for="fact_nro">FACTURA NRO</label>
                    <input type="text" class="form-control" name="fact_nro" id="fact_nro" value="<%= fact_nro %>" placeholder="NRO FACTURA">
                </div>
                <div class="form-group col-md-6">
                    <label for="fact_condicion">FACTURA TIPO</label>
                    <select class="form-control" name="fact_condicion" id="fact_condicion" value="<%= fact_condicion %>" onclick="cal_monto()">
                        <option value="CONTADO">CONTADO</option>
                        <option value="CREDITO">CREDITO</option>
                        <option value="RECIBO">RECIBO</option>
                        <!--<option value="COMP_INGRESO">COMPROBANTE DE INGRESO</option>
                        <option value="RECIBO_COMUN">RECIBO COMUN</option>
                        <option value="BOLETA_PAGO">BOLETA DE PAGO</option>
                        <option value="S_F">S/F</option>
                        <option value="ANULADA">ANULADA</option>-->
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label for="monto">MONTO</label>
                    <input type="text" class="form-control" name="monto" id="monto" value="<%= monto %>" placeholder="Monto" >
                </div>
                <div class="form-group col-md-6">
                    <label for="calcu_iva">PORCENTAJE IVA</label>
                    <select class="form-control" name="calcu_iva" id="calcu_iva" onclick="cal_iva()">
                        <option value="IVA_10">IVA 10%</option>
                        <option value="IVA_5">IVA 5%</option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label for="mon_s_iva">MONTO SIN IVA</label>
                    <input type="text" class="form-control" name="mon_s_iva" id="mon_s_iva" value="<%= mon_s_iva %>" placeholder="Monto sin IVA" >
                </div>
                <div class="form-group col-md-6">
                    <label for="iva">IVA</label>
                    <input type="text" class="form-control" name="iva" id="iva" value="<%= iva %>" placeholder="IVA...">
                </div>
                <div class="form-group col-md-6">
                    <label for="calcu_ret">PORCENTAJE RETENCION</label>
                    <select class="form-control" name="calcu_ret" id="calcu_ret" onclick="cal_ret()">
                        <option value="RET_30">RET 30%</option>
                        <option value="RET_70">RET 70%</option>
                        <option value="RET_100">RET 100%</option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label for="retencion">RETENCION</label>
                    <input type="text" class="form-control" name="retencion" id="retencion" value="<%= retencion %>" placeholder="Retencion">
                </div>
                <div class="form-group col-md-6">
                    <label for="total_facturado">TOTAL FACTURADO</label>
                    <input type="text" class="form-control" name="total_facturado" id="total_facturado" value="<%= total_facturado %>" onclick="cal_monto()">
                </div>
            </div>
            <button type="submit" name="Submit" value="Insertar" class="btn btn-primary">INSERTAR</button>
        </form>
    </div>
</nav>



<!-- MODAL de OTs -->
<div class="modal fade" id="modal_ot_ingresos" tabindex="-1" role="dialog" aria-labelledby="modal_ot_ingresosLabel" aria-hidden="true">
    <div class="modal-dialog" width="100%" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="modal_ot_ingresosLabel">Listado de OTs</h5>
        </div>
        <div class="modal-body">
            <!-- ACA PONEMOS LA TABLA QUE DEBE SER COMO /LISTAR -->

<div class="container-fluid" width="100%">
        <table id="table_modal_ot_ingresos" class="table-striped table-bordered table-sm" cellspacing="0" width="100%">
                <thead style="background: rgb(137, 151, 212); border-left: 1px solid #EB8; border-right: 1px solid #B74;
                border-top: 1px solid #EB8; font-weight: normal; padding: 4px 3px;">
                    <tr>
                        <th>Nro OT</th>
                        <th>FECHA EMISION</th>
                        <th>F INI EJECUCION</th>
                        <th>F FIN EJECUCION</th>
                        <th>Nro FACTURA</th>
                        <th>Est FACTURA</th>
                        <th>Nro RECIBO</th>
                        <th>Nro REMISION</th>
                        <th>TIPO FACTURA</th>       
                        <th>CLIENTE</th>
                        <th>OBRA</th>
                        <th>DESCRIPCION</th>           
                    </tr>
                </thead>
            <tbody>
                    <% if (data) { %>
                        <% data.forEach(function(ot){ %>
                <tr>
                    <td><%= ot.ot_nro %></td>
                    <td><%= formatear_fecha(ot.fec_emision) %></td>
                    <td><%= formatear_fecha(ot.fec_ini_ejecucion) %></td>
                    <td><%= formatear_fecha(ot.fec_fin_ejecucion) %></td>
                    <td><%= ot.fact_nro %></td>
                    <td><%= ot.fact_estado %></td>
                    <td><%= ot.recibo_nro %></td>
                    <td><%= ot.remision_nro %></td>
                    <td><%= ot.fact_tipo %></td>
                    <td><%= ot.cliente %></td>
                    <td><%= ot.obra %></td>
                    <td><%= ot.descripcion %></td>
                </tr>
                <% }) %>
                <% } %>
            </tbody>
        </table>
    </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">CERRAR</button>
            <!--<button type="button" class="btn btn-primary">Save changes</button>-->
        </div>
        </div>
    </div>
</div>

<!-- BOTONES DE EXPORTACION -->
<nav class="navbar navbar-expand-lg navbar-light bg-strong">
    <div class="container-fluid">

    </div>
</nav>
<!--
including footer content which is common for all pages
-->
<%- include ../layouts/footer.ejs %>