<!--
including header content which is common for all pages
-->
<%- include ../layouts/header.ejs %>    
        
<% if (messages.error) { %>
    <p style="color:red"><%- messages.error %></p>
<% } %>
 
<% if (messages.success) { %>
    <p style="color:green"><%- messages.success %></p>
<% } %>

<!-- NAV PARA TITULO -->
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background:#000000;">
    <div class="container-fluid">
        <h3>Editar GASTO</h3>
    </div>
</nav>

<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background:#000000;">
    <div class="container-fluid">
        
        <form action="/clientes/editar/<%= id %>" method="post" name="form1">
            <div class="form-row">
                <div class="form-group col-md-6">
                        <label for="nombre">NOMBRE</label>
                        <input type="text" class="form-control" name="nombre" id="nombre" value="<%= nombre %>" placeholder="NOMBRE CLIENTE">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="ruc">MONTO</label>
                        <input type="text" class="form-control" name="ruc" id="ruc" value="<%= ruc %>" placeholder="RUC CLIENTE">
                    </div>
            </div>
            <button type="submit" name="Submit" value="Actualizar" class="btn btn-primary">ACTUALIZAR</button>
        </form>
        
    </div>
</nav>

<!-- BOTONES DE EXPORTACION -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">

    </div>
</nav>

<!--
including footer content which is common for all pages
-->
<%- include ../layouts/footer.ejs %>